@use "src/styles/abstracts" as *;

.chatlist {
  @include flexcol();
  position: relative;
  flex: 1;
  transition: all 0.2s;
  border-right: 2px solid $basic-white;
  background-color: $dark-green;

  &--collapsed {
    flex: 0 0 5%;
    overflow: hidden;
  }

  &__header {
    @include flexrow(space-between, center, 0.5em);
    @include font(0.5, bold);
    padding: 0.75em;
    overflow: hidden;
  }

  &__new {
    display: none;
  }

  &__compose {
    @include font(1);
    cursor: pointer;
    color: $basic-white;

    &:hover {
      color: $basic-gray;
    }
  }

  &__chats {
    @include flexcol();
    overflow-y: auto;
  }

  &__card {
    @include flexcol($gap: 0.25em);
    @include font(0.5);
    cursor: pointer;
    padding: 0.5em 0.75em;

    &:hover {
      background-color: $darker-green;
    }

    &--active {
      background-color: $darker-green;
    }
  }

  &__user {
    @include flexrow(initial, center, 0.5em);
  }

  &__image {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }

  &__unread {
    font-weight: bold;
  }

  &__collapse {
    @include font(2);
    position: absolute;
    right: 2%;
    bottom: 0;
    width: fit-content;
    height: fit-content;

    &--active {
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@include md {
  .chatlist {
    background-color: $background-primary;

    &--active {
      flex: 1 1 100%;
      border: none;
    }

    &--collapsed {
      flex: 0 0 0;
      border: none;
    }

    &__header {
      display: none;
      /*
      position: sticky;
      top: 0;
      left: 0;
      z-index: 2;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
      background-color: $background-primary;
      padding: 1em;
      color: $basic-green;
      font-size: 1rem;
*/
    }

    &__compose {
      font-size: 1.5rem;

      &:hover {
        color: $basic-white;
      }
    }

    &__new {
      @include badge(1.5, $basic-white, $dark-green, 2.25em);
      position: fixed;
      right: 0;
      bottom: 2em;
      margin: 0.75em;
      border: none;
      box-shadow: $light-shadow;
      padding: 0.75em;
      z-index: 1;
    }

    &__card {
      font-size: 1.5rem;

      &:hover {
        background-color: transparent;
      }

      &--active {
        background-color: transparent;
      }
    }

    &__image {
      width: 50px;
      height: 50px;
    }

    &__collapse {
      display: none;
    }
  }
}
