.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.to-top-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1em;
  padding: 0.4em;
  border-radius: 100%;
  background-color: green;
  font-size: calc(1.2rem + 0.5vw);
  text-align: center;
  color: white;
  transition: all 0.2s;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.to-top-btn:hover {
  transform: scale(1.2);
}
