.navbar {
  width: 100vw;
  padding: 1em 0;
  background-color: #121212;
}

.nav-items {
  display: flex;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  gap: 1.2em;
}

.navlink {
  font-size: calc(1.5rem + 0.5vw);
}

.nav-logo {
  margin-right: auto;
  font-size: calc(1.5rem + 0.5vw);
  font-weight: bold;
}

.nav-profile {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
  object-fit: cover;
}

.nav-profile-dropdown {
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 30;
  width: fit-content;
  border-radius: 10%;
  background-color: green;
  color: white;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.nav-profile-dropdown-list {
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em;
  gap: 0.5em;
}
.nav-profile-dropdown-header {
  font-size: calc(0.8rem + 0.5vw);
  font-weight: bold;
  text-wrap: nowrap;
}

.nav-profile-dropdown-item {
  font-size: calc(0.8rem + 0.5vw);
}
.nav-profile-dropdown-item:hover {
  color: gray;
}

.nav-profile-dropdown-logout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.notification-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -10px;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: red;
  font-size: calc(0.3rem + 0.5vw);
  font-weight: bolder;
  color: white;
}
