@use "src/styles/abstracts" as *;

.user-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $basic-gray;
  padding: 1em;
  width: 100%;
}

.user-card {
  @include flexbox(row, initial, center, 0.5em);
  @include font(0.75);
  cursor: pointer;
  padding: 0.5em;
  width: fit-content;

  img {
    border-radius: 100%;
    width: 75px;
    height: 75px;
    object-fit: cover;
  }
}

.user-card-info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.user-card-header {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.user-card-displayname {
  font-weight: bold;
}

.user-card-username {
  color: $basic-gray;
  font-weight: normal;
}

.user-card-bio {
  @include font(0.5);
}

.user-card-friends {
  @include font(0.5, normal, $basic-gray);
}
