@use "src/styles/abstracts" as *;

.user-card {
  @include flexrow(space-between, center, 2em);
  border: 1px solid $basic-gray;
  padding: 1em;

  &--container {
    @include flexrow(initial, center, 0.5em);
    @include font(0.75);
    cursor: pointer;
    padding: 0.5em;
    width: fit-content;
  }

  &__image {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    object-fit: cover;
  }

  &__info {
    @include flexcol($gap: 0.5em);
  }

  &__header {
    @include flexrow(initial, center, 0.25em);
  }

  &__displayname {
    font-weight: bold;
  }

  &__username {
    @include font(0.75, normal, $basic-gray);
  }

  &__friends {
    @include font(0.5, normal, $basic-gray);
  }

  &__count {
    @include font(0.5, bold);
  }

  .follow-button {
    padding: 0.5em;
  }
}
@media (max-width: 900px) {
  .user-card {
    border: none;
    padding: 0.5em;

    &--container {
      padding: 0;
      font-size: 1rem;
    }

    &__image {
      width: 50px;
      height: 50px;
    }

    &__header {
      @include flexcol(initial, flex-start, 0);
    }

    &__username {
      font-size: 1rem;
    }

    &__friends,
    &__count {
      font-size: 1rem;
    }
  }
}
