@use "src/styles/abstracts" as *;

.user-card-container {
  @include flexrow(space-between, center);
  border: 1px solid $basic-gray;
  padding: 1em;
}

.user-card {
  @include flexrow(initial, center, 0.5em);
  @include font(0.75);
  cursor: pointer;
  padding: 0.5em;
  width: fit-content;

  img {
    border-radius: 100%;
    width: 75px;
    height: 75px;
    object-fit: cover;
  }
}

.user-card-info {
  @include flexcol($gap: 0.5em);
}

.user-card-header {
  @include flexrow(initial, center, 0.5em);
}

.user-card-displayname {
  font-weight: bold;
}

.user-card-username {
  @include font(0.75, normal, $basic-gray);
}

.user-card-bio {
  @include font(0.75);
}

.user-card-friends {
  @include font(0.5, normal, $basic-gray);
}
