@use "src/styles/abstracts" as *;

.basic-button {
  @include flexrow(initial, center, 0.5em);
  @include font(0.75);
  border: 2px solid $basic-white;
  padding: 0.25em 0.5em;
  width: fit-content;
  text-wrap: nowrap;

  &:hover {
    color: $basic-gray;
  }
}

.forward-button {
  position: relative;
  vertical-align: middle;
  transition: all 200ms;
  margin: 0 auto;
  text-align: center;

  .button-after {
    @include flexrow(center, center);
    position: absolute;
    top: 0;
    right: 0;
    flex-wrap: initial;
    gap: initial;
    transform: translateY(50%);
    opacity: 0;
    transition: 0.2s;
  }

  &:hover .button-after {
    right: 10px;
    opacity: 1;
  }
}

.back-button {
  position: relative;
  vertical-align: middle;
  transition: all 200ms;
  margin: 0 auto;
  text-align: center;

  .button-before {
    @include flexrow(center, center);
    position: absolute;
    top: 0;
    left: 0;
    flex-wrap: initial;
    gap: initial;
    transform: translateY(50%);
    opacity: 0;
    transition: 0.2s;
  }

  &:hover .button-before {
    left: 10px;
    opacity: 1;
  }
}

@include md {
  .basic-button {
    font-size: 1rem;
  }
}
