@use "src/styles/abstracts" as *;

.form {
  @include flexcol(center, center, 1em);
  margin: auto;
  padding: 1em;
  width: fit-content;

  &__header {
    @include flexrow(initial, center, 0.5em);
    @include font(1, bold, $basic-white);
    border-bottom: 1px solid $basic-white;
    padding-bottom: 0.25em;
    width: 100%;
    text-align: left;
  }

  &__user {
    border-radius: 100%;
    aspect-ratio: 1/1;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  &__content {
    @include flexrow(space-evenly, center, 1em);
    width: 100%;
  }

  &__image {
    box-shadow: $light-shadow;
    aspect-ratio: 1/1;
    width: 50%;
    max-width: 200px;
    height: 50%;
    max-height: 200px;
    object-fit: cover;
  }

  &__input {
    @include font(0.75);
    outline: none;
    border: 1px solid $basic-gray;
    padding: 0.25em 0.5em;
    width: 100%;

    &:focus {
      border-color: $basic-white;
    }

    &--invalid {
      background-color: $error-highlight !important;
    }
  }

  &__select {
    @include font(0.75, normal, $basic-white);

    option {
      color: $basic-black;
    }
  }

  &__search-list {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    @include flexcol();
    background-color: $basic-green;

    &--active {
      height: 200px;
      overflow: auto;
    }
  }

  &__search-item {
    @include flexcol(initial, left, 0em);
    padding: 0.15em 0.25em;
    text-align: left;

    &:hover {
      background-color: $dark-green;
    }

    &--title {
      @include font(1);
    }

    &--subtitle {
      @include font(0.65, normal);
    }
  }

  &__textarea {
    @include flexcol($gap: 0.25em);
    width: 100%;

    &--label {
      @include flexrow(space-between, center, 0.5em);
      @include font(1.25, normal, $basic-gray);
    }

    &--input {
      outline: none;
      border: 1px solid $basic-gray;
      background-color: transparent;
      padding: 0.5em;
      width: 100%;
      min-height: 150px;
      @include font(0.75);

      &:focus {
        border-color: $basic-white;
      }
    }
  }

  &__submit {
    @include font(1);
    margin: auto;
    box-shadow: $darker-shadow;
    background-color: $basic-green;
    padding: 0.5em 1em;
    width: fit-content;

    &:hover {
      background-color: $dark-green;
    }
  }
}

@include md {
  .form {
    width: 100vw;
    max-height: 100%;

    &__header {
      margin-right: auto;
      margin-bottom: 0;
      border-bottom-color: $basic-gray;
      width: 100%;
      font-size: 1.25rem;
    }

    &__user {
      width: 35px;
      height: 35px;
    }

    &__content {
      flex-direction: column;
      gap: 1em;
    }

    &__image {
      max-width: 150px;
      max-height: 150px;
    }

    &__input {
      padding: 0.25em;
      font-size: 1.25rem;
    }

    &__select {
      width: fit-content;
      font-size: 1.25rem;
    }

    &__search-item {
      padding: 0.25em 0.5em;

      &:hover {
        background-color: transparent;
      }

      &--title {
        font-size: 1.5rem;
      }

      &--subtitle {
        font-size: 1rem;
      }
    }

    &__textarea {
      &--input {
        min-height: unset;
        max-height: 115px;
        font-size: 1.25rem;
      }

      &--label {
        font-size: 1.25rem;
      }
    }

    &__submit {
      margin: 0;
      box-shadow: none;
      border-radius: 26px;
      font-size: 1.25rem;
    }
  }
}
