@use "src/styles/abstracts" as *;

.form-container {
  @include flexbox(column, center, center, 1em);
  margin: auto;
  padding: 0.5em 0;
}

.form-header {
  @include font(1, bold, $basic-white);
  border-bottom: 1px solid $basic-white;
  padding-bottom: 0.25em;
  width: 100%;
  text-align: left;
}

.form-content {
  @include flexbox(row, center, center, 1em);
  width: 100%;
}

.form-media-image {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  aspect-ratio: 1/1;
  width: 50%;
  max-width: 200px;
  height: 50%;
  max-height: 200px;
  object-fit: cover;
}

.form-input {
  @include font(0.75);
  outline: none;
  border: 1px solid $basic-white;
  padding: 0.25em 0.5em;
  width: 100%;
}

.form-select {
  @include font(1, normal, $basic-white);

  option {
    color: $basic-black;
  }
}

.form-media-results {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  @include flexbox(column);
  background-color: $basic-green;

  &.active {
    height: 200px;
    overflow: auto;
  }
}

.form-media-result {
  @include flexbox(column, initial, left, 0em);
  padding: 0.15em 0.25em;
  text-align: left;

  &:hover {
    background-color: $darker-green;
  }

  p {
    @include font(1);
  }

  span {
    @include font(0.65, normal);
  }
}

.form-textarea-container {
  @include flexbox(column, $gap: 0.25em);
  width: 100%;

  p {
    align-self: flex-end;
    color: $basic-gray;
  }

  textarea {
    outline: none;
    border: 1px solid $basic-white;
    border-radius: 6px;
    background-color: transparent;
    padding: 0.5em;
    width: 100%;
    min-height: 150px;
    @include font(0.75);
  }
}

.form-submit-button {
  @include flexbox(row, center, center, 0.25em);
  @include font(1);
  margin: auto;
  border-radius: 6px;
  background-color: $basic-green;
  padding: 0.5em 0.75em;
  width: fit-content;

  &:hover {
    background-color: $dark-green;
  }
}

.invalid-field {
  background-color: $error-highlight !important;
}

.reset-password-container {
  @include flexbox(row, center, center, 0.5em);
  @include font(0.75);
}

.reset-password-link {
  cursor: pointer;
  @include font(initial, bold, $lighter-green);

  &:hover {
    color: $basic-green;
  }
}

.success-container {
  @include flexbox(column, center, center, 1em);
  padding: 1em 0;
}

.success-message {
  @include flexbox(row, center, center, 0.5em);
  @include font(1.25, normal, $lighter-green, italic);
}

.success-button {
  @include flexbox(row, center, center, 0.5em);
  @include font(1);
  border: 1px solid $basic-white;
  padding: 0.5em 0.75em;

  &:hover {
    color: $basic-gray;
  }
}
