@import "../abstracts/";

.back-btn {
  display: flex;
  align-items: center;
  gap: 0.25em;
  border-radius: 6px;
  background-color: $basic-green;
  padding: 0.35em 0.75em;
  width: fit-content;

  &:hover {
    color: $basic-gray;
  }
}

.review-btn {
  cursor: pointer;

  &:hover {
    color: $basic-gray;
  }
}

.add-review-btn {
  display: flex;
  align-items: center;
  gap: 0.25em;
  cursor: pointer;
  border: 2px solid $basic-white;
  border-radius: 6px;
  padding: 0.5em 0.75em;
  font-size: calc(0.5rem + 0.5vw);

  &:hover {
    color: $basic-gray;
  }
}

.like-btn,
.dislike-btn {
  display: flex;
  align-items: center;
  gap: 0.25em;
  width: 50px;
  font-weight: 400;
  font-size: calc(0.5rem + 0.5vw);
}

.like-btn {
  &:not(.active):hover {
    color: $lighter-green;
  }

  &.active {
    color: $lighter-green;
  }
}

.dislike-btn {
  &:not(.active):hover {
    color: $basic-red;
  }

  &.active {
    color: $basic-red;
  }
}

.share-btn {
  cursor: pointer;

  &:hover {
    color: $basic-gray;
  }
}

.delete-btn {
  border-radius: 20px;
  padding: 0.25em 0.75em;

  &:hover {
    background-color: $dark-gray;
  }
}

.chat-btn {
  cursor: pointer;
  color: $basic-gray;

  &:hover {
    color: $basic-white;
  }
}

.follow-btn {
  display: flex;
  justify-content: center;
  border: 2px solid $basic-white;
  border-radius: 0.5em;
  padding: 0.25em 0;
  width: 110px;
  height: fit-content;
  color: $basic-white;
  font-size: calc(0.5rem + 0.5vw);

  &.active {
    border-color: transparent;
    background-color: $basic-green;
  }
}

.save-btn {
  display: flex;
  align-items: center;
  gap: 0.25em;
  width: 30px;

  &:hover {
    color: $basic-green;
  }

  &.active {
    color: $basic-green;
  }
}

.list-btn {
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
  border: 2px solid $basic-white;
  border-radius: 8px;
  padding: 0.25em 0.75em;
  font-size: calc(0.5rem + 0.5vw);

  &:hover {
    color: $basic-gray;
  }
}

.list-save-btn {
  cursor: pointer;

  &:hover {
    color: $basic-gray;
  }
}

.heart-btn {
  cursor: pointer;

  &:hover {
    color: $basic-green;
  }

  &.active {
    color: $basic-green;
  }
}

.sort-btn-container {
  position: relative;
  z-index: 20;
  width: fit-content;
}

.sort-btn {
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
  font-size: calc(0.75rem + 0.5vw);
}

.sort-dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  transition: all 300ms ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  background-color: $basic-white;
  width: fit-content;
  overflow: hidden;
  color: $basic-black;

  &:not(.active) {
    max-height: 0;
  }

  &.active {
    padding: 0.5em;
    max-height: 100vh;
  }
}

.sort-dropdown-item {
  border-radius: 6px;
  padding: 0.25em 0.5em;
  width: 100%;
  text-align: start;

  &:hover {
    background-color: $basic-gray;
    color: $basic-white;
  }
}
