@use "src/styles/abstracts" as *;

.heart-button {
  @include flexrow(initial, center, 0.25em);
  @include font(0.75);
  cursor: pointer;

  &:hover {
    color: $basic-green;
  }

  &[aria-selected="true"] {
    color: $basic-green;
  }

  .fa-beat {
    pointer-events: none;
  }
}

.share-button {
  @include font(0.75);
  cursor: pointer;

  &:hover {
    color: $basic-gray;
  }
}

.delete-button {
  @include font(0.75);
  padding: 0.25em 0.75em;

  &:hover {
    color: $basic-red;
  }
}

@include md {
  .heart-button {
    font-size: 1.25rem;

    &:hover {
      &:not([aria-selected="true"]) {
        color: $basic-white;
      }

      &[aria-selected="true"] {
        color: $basic-green;
      }
    }
  }

  .share-button {
    font-size: 1.25rem;

    &:hover {
      color: $basic-white;
    }
  }

  .delete-button {
    font-size: 1.25rem;

    &:hover {
      color: $basic-white;
    }
  }
}
