@use "src/styles/abstracts" as *;

.back-btn {
  display: flex;
  align-items: center;
  gap: 0.25em;
  border-radius: 6px;
  background-color: $basic-green;
  padding: 0.35em 0.75em;
  width: fit-content;

  &:hover {
    color: $basic-gray;
  }
}

.delete-btn {
  border-radius: 20px;
  padding: 0.25em 0.75em;
  font-size: calc(0.75rem + 0.5vw);

  &:hover {
    background-color: $dark-gray;
  }
}

.dislike-btn {
  display: flex;
  align-items: center;
  gap: 0.25em;
  width: 2.5em;
  font-weight: 400;
  font-size: calc(0.75rem + 0.5vw);
}

.dislike-btn {
  &:not(.active):hover {
    color: $basic-red;
  }

  &.active {
    color: $basic-red;
  }
}

.heart-btn {
  cursor: pointer;

  &:hover {
    color: $basic-green;
  }

  &.active {
    color: $basic-green;
  }
}

.like-btn {
  display: flex;
  align-items: center;
  gap: 0.25em;
  width: 2.5em;
  font-weight: 400;
  font-size: calc(0.75rem + 0.5vw);
}

.like-btn {
  &:not(.active):hover {
    color: $lighter-green;
  }

  &.active {
    color: $lighter-green;
  }
}

.share-btn {
  cursor: pointer;
  font-size: calc(0.75rem + 0.5vw);

  &:hover {
    color: $basic-gray;
  }
}
