@use "src/styles/abstracts" as *;

.delete-button {
  @include font(0.75, bold);
  padding: 0.25em 0.75em;

  &:hover {
    color: $basic-red;
  }
}

.heart-button {
  @include flexrow(initial, center, 0.25em);
  @include font(0.75);
  cursor: pointer;

  &:hover {
    color: $basic-green;
  }

  &--active {
    color: $basic-green;
  }

  &--disabled {
    pointer-events: none;
  }

  .fa-beat {
    pointer-events: none;
  }
}

.share-button {
  @include font(0.75);
  cursor: pointer;

  &:hover {
    color: $basic-gray;
  }
}

@media (max-width: 900px) {
  .delete-button {
    font-size: 1.25rem;
  }

  .heart-button {
    font-size: 1.25rem;
  }

  .share-button {
    font-size: 1.25rem;
  }
}
