@use "src/styles/abstracts" as *;

.alert-container {
  @include flexrow(center, center, 0.5em);
  @include font(0.5, normal, $basic-white, italic);
  opacity: 0;
  margin: 0 auto;
  padding: 1em 0;
  width: fit-content;
  height: 20px;
  transition: all 0.2s;

  &.active {
    opacity: 1;
  }
}

.alert-icon {
  color: $basic-red;
}

@media (max-width: 900px) {
  .alert-container {
    font-size: 1rem;
    padding: 0;
  }
}
