@use "src/styles/abstracts" as *;

.loading {
  @include flexcol(center, center, 0.5em);
  height: 80vh;
  text-align: center;

  &__icon {
    @include font(3, normal, $basic-green);
    transform-origin: center;
  }  
}