@use "src/styles/abstracts" as *;

.modal-container {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: all 0.2s;
  inset: 0;
  font-size: calc(1rem + 0.5vw);

  &:not(.active) {
    visibility: hidden;
  }

  &.active {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.modal-overlay {
  transform: scale(0);
  transition: all 0.2s;
  border-radius: 12px;
  background-color: $darker-gray;
  padding: 2em;

  &:not(.active) {
    transform: scale(125%);
    opacity: 0;
  }

  &.active {
    transform: scale(100%);
    opacity: 100;
  }
}

.modal-btn {
  position: absolute;
  top: 0;
  right: 2%;
  font-weight: bold;
  font-size: calc(1.5rem + 0.5vw);
}
