@use "src/styles/abstracts" as *;

.list-form {
  width: 100%;
}

.list-form-inputs {
  @include flexbox(column, center, stretch, 0.5em);
}

.list-form-media-input {
  position: relative;
  @include flexbox(row, $gap: 0.5em);
}

.list-form-select {
  width: 100%;
  border: 1px solid $basic-white;
  padding: 0.25em;
}

.list-form-current-lists {
  @include flexbox(column, initial, start, 0.25em);
  overflow: auto;
  padding: 0.25em;
  height: 100px;
}

.list-form-current-list {
  @include font(0.5);
  @include flexbox(row, initial, center, 0.5em);
  padding: 0.25em 0.5em;
  background-color: $dark-gray;

  button:hover {
    color: $basic-gray;
  }
}

.list-form-input-container {
  @include flexbox(row, initial, center, 0.25em);
}

.list-form-input-header {
  @include flexbox(row, space-between, center);
}

.list-form-info-container {
  @include flexbox(column, $gap: 1em);
  width: 100%;
}

.list-form-checkbox-container {
  @include flexbox(column, $gap: 0.25em);
}

.list-form-name-container {
  @include flexbox(column, initial, left, 0.25em);
}

.list-form-buttons-container {
  @include flexbox(row, center, center, 1em);
}

.list-form-back-button {
  @include flexbox(row, center, center, 0.25em);
  @include font(1);
  border-radius: 6px;
  background-color: $basic-gray;
  padding: 0.5em 0.75em;

  &:hover {
    background-color: $dark-gray;
  }
}

.list-form-delete-button {
  @include flexbox(row, center, center, 0.25em);
  @include font(1);
  border-radius: 6px;
  background-color: $basic-red;
  padding: 0.5em 0.75em;

  &:hover {
    background-color: $darker-red;
  }
}

@media (min-width: 700px) {
  .list-form {
    width: 700px;
  }
}
