@use "src/styles/abstracts" as *;

.discography {
  @include flexcol(center, initial, 1em);
  width: 100%;

  &__items {
    @include flexrow(flex-start, center, 1.5em);
    flex-wrap: wrap;
    gap: 2em;
    margin: auto;
    padding: 1em;
    width: fit-content;
    width: 100%;
    height: 100%;
  }

  &__button {
    @include font(0.75);
    margin: auto;
    background-color: $basic-green;
    padding: 0.5em 1em;
    width: fit-content;
    height: fit-content;

    &:hover {
      background-color: $dark-green;
    }
  }
}

@media (max-width: 900px) {
  .discography {
    align-items: center;

    &__items {
      justify-content: center;
    }

    &__button {
      font-size: 1.25rem;
      border-radius: 0.75em;
      padding: 0.75em 1em;
    }
  }
}

@media (max-width: 600px) {
  .discography {
    align-items: center;

    &__items {
      @include flexcol(initial, center, 1.5em);
      padding: 1em 0;
    }
  }
}
