@use "src/styles/abstracts" as *;

.share-form {
  &__search {
    position: relative;
    @include flexcol(center, center, 0.25em);
    width: 100%;

    &__dropdown {
      position: absolute;
      top: 20%;
      right: 0;
      left: 0;
      @include flexcol();
      background-color: $basic-green;

      &[aria-expanded="true"] {
        height: fit-content;
        max-height: 200px;
        overflow: auto;
      }
    }

    &__item {
      @include flexrow(initial, center, 0.25em);
      padding: 0.25em;
      text-align: left;

      &:hover {
        background-color: $dark-green;
      }
    }

    &__image {
      border-radius: 100%;
      aspect-ratio: 1/1;
      width: 40px;
      height: 40px;
      object-fit: cover;
    }

    &__info {
      @include flexcol();
    }

    &__displayname {
      @include font(0.75, bold);
    }

    &__username {
      @include font(0.75);
    }
  }

  &__users {
    @include flexcol(initial, start, 0.25em);
    padding: 0.25em;
    height: 125px;
    overflow: auto;
  }

  &__user {
    @include flexrow(initial, center, 0.5em);
    background-color: $darker-gray;
    padding: 0.25em 0.5em;

    &__username {
      @include font(0.75, bold);
    }

    &__remove {
      @include font(0.75);

      &:hover {
        color: $basic-gray;
      }
    }
  }
}

@include md {
  .share-form {
    &__search {
      &__displayname {
        font-size: 1.25rem;
      }

      &__username {
        font-size: 1.25rem;
      }
    }

    &__user {
      &__username {
        font-size: 1.25rem;
      }

      &__remove {
        font-size: 1.25rem;
      }
    }
  }
}
