@use "src/styles/abstracts" as *;

.tabs-container {
  @include flexbox(row, center, initial, 2em);
  margin-bottom: 1em;
}

.tab {
  @include font(1, bold, $basic-gray);
  border-bottom: 2px solid transparent;
  padding: 0.25em 0;
  letter-spacing: 0.05em;

  &:hover {
    color: $basic-green;
  }

  &.active {
    border-color: $basic-green;
    color: $basic-green;
  }
}
