@use "src/styles/abstracts" as *;

.tabs {
  @include flexrow(safe center, initial, 2em);
  margin: 0 auto 1em auto;
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;

  &__button {
    @include font(1, bold, $basic-gray);
    border-bottom: 5px solid transparent;
    padding: 0.25em 0;
    letter-spacing: 0.05em;

    &:hover {
      color: $basic-green;
    }

    &--active {
      border-color: $basic-green;
      color: $basic-green;
    }
  }
}

@media (max-width: 900px) {
  .tabs {
    margin-bottom: 0;

    &__button {
      border: none;
      padding: 0.5em 0;
      font-size: 1.5rem;
    }
  }
}
