@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

body {
  color: white;
  background-color: #15141a;
  height: 100vh;
}

button {
  cursor: pointer;
}

.fa-beat {
  animation: fa-beat 500ms;
}
