@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background-color: #15141a;
  color: white;
}

button {
  cursor: pointer;
}

.slider {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 20px;
  transition: 0.2s;
  cursor: pointer;
}

.slider:before {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  transition: 0.2s;
}
input:checked + .slider:before {
  transform: translateX(22px);
}

.fa-beat {
  animation: fa-beat 500ms;
}

.moving-gradient {
  background-size: 100% 100%;
  animation: move-gradient 5s ease-in-out infinite alternate;
}

.scrolling-text {
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  90% {
    transform: translateX(-105%);
  }
  100% {
    transform: translateX(-105%);
  }
}

@keyframes pulse {
  0% {
    background-color: #333;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: #333;
  }
}
