@use "src/styles/abstracts" as *;

.account-likes-media {
  margin: auto;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
}

.account-likes-reviews {
  display: flex;
  flex-direction: column;
  gap: 2em;

  & > div {
    padding-bottom: 0.25em;
    border-bottom: 1px solid $basic-gray;
  }
}
