@use "src/styles/abstracts" as *;

.account-likes-media {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
  margin: auto;
  width: 100%;
}

.account-likes-reviews {
  @include flexcol($gap: 2em);

  & > div {
    border-bottom: 1px solid $basic-gray;
    padding-bottom: 0.25em;
  }
}
