@use "src/styles/abstracts" as *;

.auth {
  margin: auto;
  @include padding-y(2em);
  width: 100%;
  max-width: 600px;

  &--container {
    @include flexcol(center, center, 1em);
    margin: auto;
    box-shadow: $dark-shadow;
    border-radius: 12px;
    background-color: $dark-gray;
    padding: 1em;
    width: 100%;

    &--reset {
      padding: 2em;
    }
  }

  &__header {
    @include font(1);
    padding-bottom: 1em;

    &--highlight {
      @include font(1, bold, $light-green);
    }
  }

  &__form {
    @include flexcol(initial, center, 0.5em);
    margin: auto;
    width: fit-content;
  }

  &__input--wrapper {
    @include flexcol(initial, flex-start, 0.5em);
  }

  &__label {
    @include font(1);
  }

  &__input {
    @include font(1);
    outline: none;
    border: 2px solid $basic-white;
    padding: 0.15em 0.25em;
  }

  &__button--wrapper {
    @include font(0.75);
    @include flexcol(initial, center, 1em);
    margin-top: 1em;
    border-top: 1px solid $basic-white;
    padding: 1em;
    width: 100%;
  }

  &__button {
    @include flexrow(center, center, 0.5em);
    @include font(1);
    @include margin-x(auto);
    border: 1px solid $basic-white;
    padding: 0.5em 1.5em;

    &--before:hover {
      padding-right: 1em;
      padding-left: 2em;
    }

    &--after:hover {
      padding-right: 2em;
      padding-left: 1em;
    }
  }
}

.reset {
  @include flexrow(center, center, 0.5em);
  @include font(0.75);

  &__link {
    cursor: pointer;
    @include font(0.75, bold, $light-green);
  }
}

@include md {
  .auth {
    @include padding-y(1em);
    @include flexcol(center, center);
    background-color: $dark-gray;
    max-width: unset;
    height: 100%;

    &--container {
      margin: auto;
      box-shadow: none;
      border-radius: 0px;
      padding: 0;
      width: 100%;
      height: fit-content;

      &--reset {
        padding: 2em;
      }
    }

    &__form {
      width: 90%;
    }

    &__header {
      font-size: 1.25rem;

      &--highlight {
        font-size: 1.25rem;
      }
    }

    &__input--wrapper {
      align-items: stretch;
      width: 100%;
      max-width: 500px;
    }

    &__label {
      font-size: 1.25rem;
    }

    &__input {
      font-size: 1.25rem;
    }

    &__button--wrapper {
      border: none;
      font-size: 1rem;
    }

    &__button {
      font-size: 1rem;
    }
  }

  .reset {
    font-size: 1rem;

    &__link {
      font-size: 1rem;
    }
  }
}
