@use "src/styles/abstracts" as *;

.account-friends-container {
  height: 100vh;
  overflow-y: auto;
  width: 100%;
}

.account-friends-list {
  @include flexcol($gap: 1em);
  width: 100%;
}

@media (max-width: 900px) {
  .account-friends-container {
    height: auto;
  }
}
