$background-primary: #15141a;

$basic-white: #fafafa;
$basic-black: #121212;

$light-green: #09d739;
$basic-green: #068825;
$dark-green: #034f16;

$basic-gray: #9197a1;
$darker-gray: #545a63;
$dark-gray: #101828;

$basic-red: #e41111;
$dark-red: #980b0b;

$basic-blue: #133aae;
$google-blue: #2177ea;

$light-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
$darker-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
$dark-shadow: 0 0 15px rgba(0, 0, 0, 0.75);

$error-highlight: rgba(152, 11, 11, 0.3);
