@use "./colors" as *;

@mixin flexbox(
  $direction: row,
  $justify: initial,
  $align: initial,
  $gap: initial,
  $wrap: initial,
  $basis: initial
) {
  display: flex;
  flex-basis: $basis;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin font($size: 1, $weight: normal, $color: $basic-white, $style: normal) {
  color: $color;
  font-style: $style;
  font-weight: $weight;
  font-size: calc(#{$size}rem + 0.5vw);
}

@mixin gradient($direction: top, $top: 5%, $bottom: 95%) {
  mask-image: linear-gradient(
    to $direction,
    transparent 0%,
    black $top,
    black $bottom,
    transparent 100%
  );
}

@mixin dropdown($direction: right, $padding-y: 1em, $padding-x: 1.5em) {
  position: absolute;
  top: 100%;
  #{$direction}: 0;
  transition: all 300ms ease-in-out;
  box-shadow: $light-shadow;
  width: fit-content;
  overflow: hidden;

  &:not(.active) {
    max-height: 0;
  }

  &.active {
    padding: $padding-y $padding-x;
    max-height: 100vh;
  }
}
