@use "src/styles/abstracts" as *;
@use "src/styles/components" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  text-decoration: none;
}

body {
  background-color: $background-primary;
  min-height: 100vh;
  color: $basic-white;
}

main {
  @include flexbox(column);
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  @include flexbox(1, normal, $basic-white);
  cursor: pointer;
  border: none;
  background-color: transparent;
}

input {
  border: none;
  background-color: transparent;
}

select {
  border: none;
  background-color: transparent;
}

.wrapper {
  @include flexbox(column);
  height: 100vh;
}

.empty-message {
  @include font(1, normal, $basic-gray, italic);
  margin: auto;
  padding: 4em 0;
  width: fit-content;
  max-width: 500px;
  text-align: center;
}

.fa-beat {
  animation: fa-beat 500ms;
}

.scrolling-text {
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  90% {
    transform: translateX(-105%);
  }
  100% {
    transform: translateX(-105%);
  }
}

@keyframes pulse {
  0% {
    background-color: #333;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: #333;
  }
}
