@use "src/styles/abstracts" as *;

.inbox {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  height: fit-content;
  @include flexcol(initial, center);
  background-color: $dark-gray;
  padding: 1em;

  &__header {
    @include font(0.75, normal, $basic-green);
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: $dark-gray;
    padding: 0.5em 0;
    width: 100%;
    text-align: center;
  }
}

@include md {
  .inbox {
    display: block;
    gap: 0;
    padding: 0;
    height: 100%;

    &__header {
      display: none;
    }
  }
}
