@use "src/styles/abstracts" as *;

.comment-card-container {
  @include flexbox(flex, column, initial, 1em);
}

.comment-card {
  @include flexbox(flex, column, initial, 0.5em);
}
v .comment-user-container {
  @include flexbox(flex, row, center, 0.5em);
}

.comment-user-info {
  @include flexbox(flex, initial, center, 1em);
  @include font(0.25, bold);
  cursor: pointer;

  &:hover {
    color: $basic-gray;
  }

  img {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
}

.comment-date {
  @include font(0.25, normal, $basic-gray);
}

.comment-content {
  @include font(0.5);
}

.comment-btns {
  @include flexbox(flex, initial, center, 0.25em);
}
