@use "src/styles/abstracts" as *;

.comment-card-container {
  @include flexcol($gap: 0.5em);
}
.comment-card {
  @include flexcol(initial, initial, 0.75em);
}
.comment-user-container {
  @include flexrow(initial, center, 0.5em);
}

.comment-user-info {
  @include flexrow(initial, center, 0.5em);
  @include font(0.5, bold);
  cursor: pointer;

  &:hover {
    color: $basic-gray;
  }

  img {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
}

.comment-date {
  @include font(0.5, normal, $basic-gray);
}

.comment-content {
  @include font(0.75);
}

.comment-buttons {
  @include flexrow(initial, center, 0.25em);
}
