@use "src/styles/abstracts" as *;

.home {
  @include flexcol();
  margin: auto;
  padding: 1em;
  width: 100%;
  max-width: 1000px;
  height: fit-content;
  min-height: 100%;

  &__header {
    @include flexrow(space-between, center);
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: $background-primary;
    padding-bottom: 1em;
    border-bottom: 1px solid $darker-gray;

    .tabs {
      margin: 0 0 !important;
      width: fit-content !important;
    }

    .review-button {
      margin-left: auto;
    }
  }

  &__feed {
    @include flexcol();
    width: 100%;
    height: 100%;
  }
}

@include md {
  .home {
    margin-bottom: 2em;
    padding: 0;

    &__header {
      justify-content: center;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
      border: none;
      padding: 0;

      .tabs {
        &__button {
          border-bottom: 5px solid transparent;

          &[aria-selected="true"] {
            border-color: $basic-green;
          }
        }
      }
    }

    &__feed {
      padding: 0;
      padding-top: 0.5em;
      height: fit-content;
    }
  }
}
