@use "src/styles/abstracts" as *;

.draggable-item {
  position: relative;

  &__listener {
    opacity: 0.5;
    cursor: grab;

    &--active {
      opacity: 1;
    }
  }

  &__delete {
    @include flexrow(center, center);
    @include font(0.5, bold);
    position: absolute;
    top: 1%;
    right: 1%;
    cursor: pointer;
    border-radius: 100%;
    background-color: $basic-red;
    width: 30px;
    height: 30px;

    &:hover {
      opacity: 0.75;
    }
  }
}

@media (max-width: 900px) {
  .draggable-item {
    &__delete {
      font-size: 1rem;
    }
  }
}
