@use "src/styles/abstracts" as *;

.draggable-item {
  position: relative;
}

.draggable-item-listener {
  opacity: 0.5;
  cursor: grab;

  &.active {
    opacity: 1;
  }
}

.draggable-item-delete-btn {
  @include flexbox(row, center, center);
  @include font(0.5, bold);
  position: absolute;
  top: 1%;
  right: 1%;
  cursor: pointer;
  border-radius: 100%;
  background-color: $basic-red;
  width: 30px;
  height: 30px;

  &:hover {
    opacity: 0.75;
  }
}
