@use "src/styles/abstracts" as *;

.list-item-card {
  @include flexrow();
  @include font(0.5);
  border: 1px solid transparent;

  &:hover {
    border-color: $basic-white;
  }

  &.horizontal {
    flex-direction: column;
    gap: 0.25em;
    width: 200px;
  }

  &.vertical {
    flex-direction: row;
    gap: 1em;
    height: 200px;
  }
}

.list-item-image {
  @include flexrow($gap: 0.5em);
  position: relative;

  &.horizontal {
    width: 100%;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    p {
      position: absolute;
      bottom: 0;
      left: 0;
      box-shadow: 0 0 10px $basic-black;
    }
  }

  &.vertical img {
    width: 200px;
    height: 100%;
    object-fit: cover;
  }

  p {
    @include flexrow(center, center);
    @include font(1);
    background-color: $darker-green;
    width: 1.5em;
    height: 1.5em;
    font-weight: bold;
  }
}

.list-item-info {
  @include flexcol();

  &.horizontal .list-item-title {
    text-align: center;
  }

  &.vertical {
    height: 100%;
    @include flexcol(center, center);
  }
}

.list-item-title {
  padding: 0 0.5em;
  width: 100%;
  overflow: hidden;
  text-align: center;
  @include gradient(left);

  p {
    @include font(0.5, bold);
    margin: auto;
    width: fit-content;
    color: $basic-white;
    white-space: nowrap;
  }
}

.list-item-subtitle {
  overflow: hidden;
  color: $basic-gray;
  text-align: center;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
