@use "src/styles/abstracts" as *;

.list-card {
  @include flexrow($gap: 1em);

  &__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  &__info {
    @include flexcol($gap: 0.25em);
  }

  &__header {
    @include flexcol();
  }

  &__title {
    @include flexrow(initial, center, 0.5em);
  }

  &__icon {
    color: $basic-gray;
  }

  &__name {
    @include font(1, bold);
  }

  &__count {
    @include font(0.75, normal, $basic-gray);
  }

  &__description {
    @include font(0.75);
  }
}

@include md {
  .list-card {
    padding-bottom: 0.5em;

    &__image {
      width: 100px;
      height: 100px;
    }

    &__info {
      justify-content: space-between;
    }

    &__name {
      font-size: 1.25rem;
    }

    &__count {
      font-size: 1rem;
    }

    &__description {
      font-size: 1rem;
    }
  }
}
