@use "src/styles/abstracts" as *;

.list-card {
  @include flexrow($gap: 1em);

  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

.list-card-info-container {
  @include flexcol($gap: 0.25em);
}

.list-card-header {
  @include flexcol();
}

.list-card-title-container {
  @include flexrow(initial, center, 0.5em);
}

.list-card-lock {
  color: $basic-gray;
}

.list-card-title {
  @include font(1, bold);
}

.list-card-count {
  color: $basic-gray;
}

.list-card-description {
  @include font(0.75);
}
