@use "src/styles/abstracts" as *;

.list-item-card {
  @include font(0.5);
  display: flex;
  border: 1px solid transparent;
  width: fit-content;

  &:hover {
    border-color: $basic-white;
  }

  &.horizontal {
    flex-direction: column;
    gap: 0.25em;
  }

  &.vertical {
    flex-direction: row;
    align-items: start;
    gap: 1em;
  }
}

.list-item-image {
  @include flexbox(row, initial, initial, 0.5em);
  position: relative;

  p {
    @include flexbox(row, center, center);
    box-shadow: 0 0 10px black;
    background-color: $dark-green;
    width: 30px;
    height: 30px;
    font-weight: bold;

    &.horizontal {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

.list-item-info {
  @include flexbox(column);
}

.list-item-title {
  font-weight: bold;
  text-wrap: wrap;

  &.horizontal {
    text-align: center;
  }
}

.list-item-subtitle {
  color: $basic-gray;
  text-align: center;
  text-wrap: wrap;
}
