@use "src/styles/abstracts" as *;

.media-reviews {
  @include flexcol($gap: 1em);
  width: 100%;

  &__header {
    @include flexrow(initial, center, 1em);
  }

  &__list {
    @include flexcol($gap: 1em);
    margin-left: 1em;
  }
}

@include md {
  .media-reviews {
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    width: 100%;
  }
}
