@use "src/styles/abstracts" as *;

.mobile-navbar {
  display: none;
}

@include md {
  .mobile-navbar {
    @include flexrow(space-between, center);
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 3;
    transition: opacity 0.2s ease-in-out;
    @include margin-x(auto);
    background-color: $basic-black;
    padding: 1em 2em;
    width: 100%;
    max-width: 600px;

    &--hidden {
      opacity: 0.5;
    }

    &__link {
      font-size: 1.5rem;

      &[aria-selected="true"] {
        color: $basic-green;
      }
    }

    &__messages {
      position: relative;
    }

    &__badge {
      @include badge(0.5, $basic-white, $basic-red, 1.2em);
      position: absolute;
      top: -0.5em;
      right: -0.8em;
      font-size: 1rem;
    }
  }
}
