@use "src/styles/abstracts" as *;

.nav {
  background-color: $basic-black;
  padding: 1em 0;
  width: 100%;
}

.navbar {
  @include flexrow(initial, center, 1.5em);
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;

  &__link {
    @include font(1.5, normal, $basic-gray);

    &:hover {
      color: $basic-green;
    }

    &[aria-current="page"] {
      color: $basic-green !important;
    }
  }

  &__logo {
    @include font(1.5, bold, $basic-gray);
    margin-right: auto;
  }

  &__messages {
    position: relative;

    &:hover > * {
      color: $basic-green !important;
    }
  }

  &__profile {
    position: relative;
  }

  &__image {
    cursor: pointer;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }

  &__badge {
    @include badge(0.5, $basic-white, $basic-red, 1.2em);
    position: absolute;
    top: -10%;
    right: -25%;
  }

  &__login {
    @include font(0.75, bold, $basic-gray);

    &:hover {
      color: $basic-green;
    }
  }
}

.navbar-dropdown {
  @include dropdown(right, 1em, 1.5em);
  @include flexcol($gap: 1em);
  z-index: 10;
  background-color: $dark-green;

  &__header {
    @include font(1, bold);
    padding-bottom: 0.5em;
    text-align: center;
    text-wrap: nowrap;
  }

  &__item {
    @include font(1);
    cursor: pointer;
    width: 100%;
    @include flexrow(initial, center, 0.5em);

    &:hover {
      color: $basic-gray;
    }
  }
}

@include md {
  .nav {
    display: none;
  }
}
