@use "src/styles/abstracts" as *;

.navbar {
  background-color: $basic-black;
  padding: 1em 0;
  width: 100%;
}

.nav-items {
  @include flexbox(row, initial, center, 1.5em);
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.navlink {
  @include font(1.5, normal, $basic-gray);

  &:not(.navlink-active):hover {
    color: $basic-green;
  }

  &.active {
    color: $basic-green;
  }
}

.nav-logo {
  @include font(1.5, bold, $basic-gray);
  margin-right: auto;
}

.nav-profile {
  cursor: pointer;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.nav-profile-dropdown-container {
  position: relative;
}

.nav-profile-dropdown {
  @include dropdown(right, 1em, 1.5em);
  @include flexbox(column, $gap: 1em);
  z-index: 10;
  background-color: $dark-green;
}

.nav-profile-dropdown-header {
  @include font(1, bold);
  padding-bottom: 0.5em;
  text-align: center;
  text-wrap: nowrap;
}

.nav-profile-dropdown-item {
  @include font(1);
  cursor: pointer;
  width: 100%;
  @include flexbox(row, initial, center, 0.5em);

  &:hover {
    color: $basic-gray;
  }
}

.nav-messages {
  position: relative;
}

.notification-badge {
  @include flexbox(row, center, center);
  @include font(0.5, bold, $basic-white);
  position: absolute;
  top: 0;
  right: -25%;
  border-radius: 50%;
  background-color: $basic-red;
  width: 18px;
  height: 18px;
}

@media (max-width: 900px) {
  .navbar {
    padding: 0.5em 0;
  }

  .nav-items {
    display: none;
  }
}
