@use "src/styles/abstracts" as *;

.media-navbar {
  @include flexrow(initial, center, 0.5em);
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em 1em;
  width: fit-content;
  max-width: 100%;
  font-weight: bold;
  letter-spacing: 0.05em;

  &__link {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@include md {
  .media-navbar {
    display: none;
    @include margin-x(auto);
    background-color: $background-primary;
    padding: 1em 0.5em;
    width: 100%;
    max-width: 100%;
    font-size: 1rem;
  }
}
