@use "src/styles/abstracts" as *;

.media-navbar {
  @include flexrow(initial, center, 0.5em);
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em 1em;
  width: fit-content;
  width: fit-content;
  max-width: 100%;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.media-navbar-link {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
