@use "src/styles/abstracts" as *;

.messages {
  @include flexcol($gap: 1em);
  @include gradient(bottom, $bottom: 99%);
  flex-grow: 1;
  padding: 0.5em 0;
  overflow-y: auto;
}

.message-card {
  @include flexcol($gap: 0.25em);
}

.message-date {
  align-self: center;
  padding: 1.5em 0;
  @include font(0.25, normal, $basic-gray);
}

.message-bubble {
  @include flexrow(initial, start, 0.5em);
  position: relative;
  border-radius: 12px;
  padding: 0.75em 1em;
  width: fit-content;

  &:hover {
    .message-delete-button,
    .message-unliked {
      opacity: 1;
    }
  }
}

.message-user-button {
  margin-left: auto;
  background-color: $basic-blue;
}

.message-friend-button {
  background-color: $darker-gray;
}

.message-delete-button {
  @include flexrow(center, center);
  @include font(0.5, normal, $basic-gray);
  @include badge(0.65, $basic-gray, $darker-gray, 1.65em);
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translate(-50%, -50%);
  opacity: 0;
  cursor: pointer;
  box-shadow: $light-shadow;

  &:hover {
    opacity: 1;
  }
}

.message-like-button {
  @include font(0.5);
  @include badge(0.65, $basic-gray, $darker-gray, 1.65em);
  position: absolute;
  top: -12px;
  cursor: pointer;
  box-shadow: 0 0 5px $basic-black;

  &:not(.message-liked) {
    opacity: 0;
    background-color: $darker-gray;
    color: $basic-gray;
  }
}

.message-liked {
  background-color: $dark-blue;
  color: $basic-red;
}

.message-unliked {
  background-color: $darker-gray;
  color: $basic-gray;
}

.message-user-button {
  left: -12px;
}
.message-friend-button {
  right: -12px;
}

.message-image {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.message-body {
  @include flexcol();
  max-width: 200px;
  word-wrap: break-word;
}

.message-sender {
  @include flexrow(initial, center, 0.25em);
}

.message-sender-name {
  font-weight: bold;
}

.message-time {
  @include font(0.25, normal, $basic-gray);
}

.message-content-media {
  @include flexcol(center, center, 0.25em);
  margin-top: 0.5em;
  background-color: $basic-white;
  padding: 0.5em;
  color: $basic-black;
  text-align: center;

  img {
    box-shadow: $light-shadow;
    width: 100%;
    max-width: 150px;
    object-fit: cover;
  }

  span {
    font-weight: bold;
  }

  .title {
    width: fit-content;
    @include font(0.5, bold);
  }
  .subtitle {
    @include font(0.25);
  }
}

.message-text {
  @include font(0.5);
  word-wrap: break-word;
}

.message-error {
  @include font(initial, normal, $basic-gray, italic);
}
