@use "src/styles/abstracts" as *;

.account-lists {
  &__list {
    @include flexcol($gap: 2em);
    width: 100%;
  }

  &__item {
    @include flexcol($gap: 0.5em);

    &:not(:last-child) {
      border-bottom: 1px solid $basic-gray;
    }

    &:hover {
      background-color: $dark-green;
    }
  }

  &__user {
    @include font(1, normal, $basic-gray);
  }
}

@include md {
  .account-lists {
    padding: 0 0.5em;

    &__item {
      &:hover {
        background-color: transparent;
      }
    }

    &__user {
      font-size: 1rem;
    }
  }
}
