@use "src/styles/abstracts" as *;

.account-lists-container {
  overflow-y: auto;
}

.account-lists {
  @include flexcol($gap: 2em);
  width: 100%;
}

.account-list-item {
  @include flexcol();
  border-bottom: 1px solid $basic-gray;

  &:hover {
    background-color: $dark-green;
  }

  & > p {
    @include font(0.5, normal, $basic-gray);
  }
}
