@use "src/styles/abstracts" as *;

.account {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-height: 80vh;

  &__outlet {
    padding: 0 1em;
    width: 100%;
    height: 100%;
  }

  &__section {
    @include flexcol(initial, initial, 1em);
    height: 100%;
  }

  &__header {
    @include flexrow(space-between, end);
    margin-top: 1em;
    border-bottom: 1px solid $basic-white;
    padding-bottom: 0.5em;
    height: 50px;
  }

  &__title {
    @include font(1);
  }
}

@media (max-width: 900px) {
  .account {
    gap: 0;
    background-color: $dark-gray;
    max-width: 100%;
    height: 100%;
    min-height: auto;

    &__image {
      width: 50px;
      height: 50px;
    }

    &__outlet {
      padding: 0;
    }

    &__section {
      gap: 1em;
      margin-bottom: 2em;
    }

    &__header {
      display: none;
    }
  }
}
