@use "src/styles/abstracts" as *;

.chat-container {
  @include flexbox(row, initial, stretch);
  margin: auto;
  width: 100%;
  max-width: 1000px;
  height: 80vh;
}

.chatlist-container {
  @include flexbox(column);
  flex: 1;
  border-right: 2px solid $basic-white;
  background-color: $darker-green;
}

.chatlist-header {
  @include flexbox(row, space-between, center, 0.5em);
  @include font(0.75, bold);
  padding: 0.5em;

  button {
    cursor: pointer;
    color: $basic-white;

    &:hover {
      color: $basic-gray;
    }
  }
}

.chatlist {
  @include flexbox(column);
  overflow-y: auto;
}

.chatlist-card {
  @include flexbox(column, $gap: 0.25em);
  cursor: pointer;
  padding: 0.5em 0.75em;

  &:hover {
    background-color: $dark-green;
  }

  img {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
}

.chatlist-unread {
  font-weight: bold;
}

.chatlist-card-active {
  background-color: $dark-green;
}

.chatlist-card-header {
  @include flexbox(row, initial, center, 0.5em);
}

.chatwindow {
  @include flexbox(column, $gap: 0.25em);
  flex: 2;
  background-color: $darker-gray;
  padding: 1em 2em;
  overflow-y: auto;
}

.chatwindow-header {
  @include font(1, bold);
  border-bottom: 1px solid $basic-gray;
  padding-bottom: 0.25em;

  &:hover {
    color: $basic-gray;
  }
}

.chatwindow-search {
  position: relative;
}

.chatwindow-search-input {
  @include font(0.75);
  outline: none;
  border: 1px solid $basic-white;
  border-radius: 10px;
  padding: 0.5em 0.75em;
  width: 100%;
}

.chatwindow-search-results {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 10;
  @include flexbox(column);
  background-color: $basic-green;

  &.active {
    height: fit-content;
    max-height: 200px;
    overflow-y: auto;
  }
}

.chatwindow-search-item {
  @include flexbox(row, initial, center, 0.25em);
  @include font(0.75);
  padding: 0.25em;
  text-align: left;

  &:hover {
    background-color: $darker-green;
  }

  img {
    border-radius: 100%;
    aspect-ratio: 1/1;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}

.chatwidow-search-item-info {
  @include flexbox(column, start, flex-start, 0.25em);
}

.chatwindow-search-item-displayname {
  @include font(0.75, bold);
}

.messages {
  @include flexbox(column, $gap: 1em);
  @include gradient(bottom, $bottom: 99%);
  flex-grow: 1;
  padding: 0.5em 0;
  overflow-y: auto;
}

.message-card {
  @include flexbox(column, $gap: 0.25em);
}

.message-date {
  align-self: center;
  padding: 1.5em 0;
  @include font(0.25, normal, $basic-gray);
}

.message-bubble {
  @include flexbox(row, initial, start, 0.5em);
  position: relative;
  border-radius: 16px;
  padding: 0.75em 1em;
  width: fit-content;

  &:hover {
    .message-delete-button,
    .message-unliked {
      opacity: 1;
    }
  }
}

.message-user-button {
  margin-left: auto;
  background-color: rgba(20, 71, 230, 0.7);
}

.message-friend-button {
  background-color: rgb(35, 44, 61);
}

.message-delete-button {
  @include flexbox(row, center, center);
  @include font(0.5, normal, $basic-gray);

  position: absolute;
  top: 50%;
  left: -10%;
  transform: translate(-50%, -50%);
  opacity: 0;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  border-radius: 100%;
  background-color: rgb(35, 44, 61);
  width: 30px;
  height: 30px;

  &:hover {
    opacity: 1;
  }
}

.message-like-button {
  @include flexbox(row, center, center);
  @include font(0.5);

  position: absolute;
  top: -12px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  border-radius: 100%;
  width: 30px;
  height: 30px;

  &:not(.message-liked) {
    opacity: 0;
    background-color: rgb(35, 44, 61);
    color: $basic-gray;
  }
}

.message-liked {
  display: block;
  background-color: blue;
  color: red;
}

.message-unliked {
  background-color: rgb(35, 44, 61);
  color: $basic-gray;
}

.message-user-button {
  left: -12px;
}
.message-friend-button {
  right: -12px;
}

.message-image {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.message-body {
  @include flexbox(column);
  max-width: 200px;
  word-wrap: break-word;
}

.message-sender {
  @include flexbox(row, initial, center, 0.25em);
}

.message-sender-name {
  font-weight: bold;
}

.message-time {
  @include font(0.25, normal, $basic-gray);
}

.message-content-media {
  @include flexbox(column, center, center, 0.25em);
  margin-top: 0.5em;
  background-color: $basic-white;
  padding: 0.5em;
  color: $basic-black;
  text-align: center;

  image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  span {
    font-weight: bold;
  }

  .title {
    width: fit-content;
    @include font(0.5, bold);
  }
  .subtitle {
    font-size: (calc(0.25rem + 0.5vw));
  }
}

.message-text {
  word-wrap: break-word;
  font-size: (calc(0.5rem + 0.5vw));
}

.message-error {
  @include font(initial, normal, $basic-gray, italic);
}

.chat-input-form {
  @include flexbox(row, space-between, center, 0.25em);
  @include font(0.5);
  border: 1px solid $basic-gray;
  border-radius: 16px;
  background-color: $darker-gray;
  padding: 0.75em;
}

.chat-input {
  @include font(0.75);
  flex-grow: 1;
  outline: none;
}

.chat-input-button {
  cursor: pointer;
  color: $basic-gray;

  &:hover {
    color: $basic-white;
  }
}
