@use "src/styles/abstracts" as *;

.error-container {
  @include flexbox(column, center, center, 0.25em);
  @include font(1.25);
  height: 80vh;
  text-align: center;
}

.error-logo {
  @include font(3, normal, $basic-red);
}

.error-header {
  @include font(1.75, bold);
}

.error-message {
  @include font(1.25, normal, $basic-gray);
}

.error-button {
  @include flexbox(row, initial, center, 1em);
  @include font(1);
  margin-top: 1em;
  border-radius: 20px;
  background-color: $basic-green;
  padding: 0.5em 0.75em;
  width: fit-content;
}
