@use "src/styles/abstracts" as *;

.home {
  @include flexcol();
  margin: auto;
  margin-top: 1em;
  padding: 0 2em;
  width: 100%;
  max-width: 1200px;
  height: 100vh;

  &__header {
    @include flexrow(space-between, center);

    .tabs {
      margin: 0 0 !important;
      width: fit-content !important;
    }

    .review-button {
      margin-left: auto;
    }
  }

  &__feed {
    @include flexcol($gap: 1em);
    @include gradient(top);
    padding: 2em 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}

@media (max-width: 900px) {
  .home {
    margin-top: 0.5em;
    margin-bottom: 2em;
    padding: 0;
    height: fit-content;

    &__header {
      position: sticky;
      top: 0;
      justify-content: center;
      z-index: 2;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
      background-color: $background-primary;

      .tabs {
        margin: 0 !important;

        &__button {
          border-bottom: 5px solid transparent;

          &--active {
            border-color: $basic-green;
          }
        }
      }
    }

    &__feed {
      mask-image: none;
      padding: 0;
      padding-top: 0.5em;
    }
  }
}
