@use "src/styles/abstracts" as *;

.review-wrapper {
  @include flexbox(column, initial, initial, 2em);
  margin: auto;
  margin-top: 2em;
  width: 100%;
  max-width: 1200px;
  height: 100%;
}

.review-section-container {
  @include flexbox(row, initial, stretch, 0.25em);
  padding-bottom: 1em;
  height: fit-content;
}

.review-section {
  @include flexbox(column, space-between, $basis: 70%);
  overflow: auto;
}

.review-section-media-container {
  @include flexbox(column, center, center, $basis: 30%);
  padding: 0.25em;
  min-width: 30%;
  height: 100%;

  img {
    cursor: pointer;
    width: 100%;
    min-width: 125px;
    height: 100%;
    max-height: 275px;
    object-fit: contain;
  }
}

.review-section-media-info-container {
  @include flexbox(column);
  padding: 0.25em 0.5em;
  width: 100%;
  max-width: 275px;
}

.review-section-title {
  @include gradient(left);
  padding: 0 0.25em;
  width: 100%;
  overflow: hidden;

  p {
    @include font(0.5, bold);
    margin: auto;
    width: fit-content;
    white-space: nowrap;

    &:hover {
      color: $basic-gray;
    }
  }
}

.review-section-subtitle {
  @include font(0.5, normal, $basic-gray);
  text-align: center;
}

.review-section-details-container {
  @include flexbox(column, $gap: 1em);
  width: 100%;
  height: 100%;
  height: 100%;
  max-height: 350px;
}

.review-section-header {
  @include flexbox(row, initial, center, 0.5em);

  img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}

.review-section-info-container {
  @include flexbox(row, space-between, flex-start);
  width: 100%;
}

.review-section-user-container {
  @include flexbox(column, $gap: 0.25em);
}

.review-section-user-info {
  @include font(0.5, normal, $basic-gray);
}

.review-section-username {
  @include font(initial, bold, $basic-white);

  &:hover {
    color: $basic-gray;
  }
}

.review-section-date {
  @include font(0.35, normal, $basic-gray);
}

.review-section-content {
  @include font(0.75);
  @include gradient(top);
  padding: 0.5em;
  overflow: auto;
  text-wrap: break-word;
}

.comments-container {
  @include flexbox(column, $gap: 2em);
  padding: 0 1em 5em 1em;
}

.comments-header-container {
  @include flexbox(row, initial, center, 1em);
}

.comments-header {
  @include font(0.75, bold);
}

.comments-list {
  @include flexbox(column, initial, initial, 1em);
}

.comment-input-container {
  @include flexbox(column);
  margin-bottom: 1em;
}

.comment-input {
  @include font(0.75);
  outline: none;
  border-bottom: 1px solid $basic-gray;
  padding-bottom: 0.5em;
  width: 100%;

  &:focus {
    outline: none;
    border-color: $basic-white;
  }
}

.comment-input-btns {
  @include flexbox(row, end, initial, 0.5em);

  button {
    margin-top: 0.5em;
    border-radius: 20px;
    padding: 0.25em 0.75em;

    &:hover {
      background-color: $basic-gray;
    }
  }
}
