@use "src/styles/abstracts" as *;

.search {
  padding: 2em 0;

  &__header {
    @include flexrow(center, center, 1em);
    margin-bottom: 3em;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .search {
    padding: 1em 0;

    .tabs {
      display: none;
    }

    &__header {
      position: sticky;
      top: 0;
      @include flexcol($gap: 1em);
      z-index: 2;
      margin-bottom: 1em;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
      background-color: $background-primary;
      padding: 0 1em 1em 1em;
      width: 100%;
    }

    &__options {
      @include flexrow(space-evenly, center);
      width: 100%;
    }
  }
}
