@use "src/styles/abstracts" as *;

.search-container {
  padding: 2em 0;
}

.search-select {
  display: none;
  margin: 0 auto 1em auto;
  border-bottom: 4px solid $basic-green;
  padding: 0.25em 0.5em;
  width: fit-content;
  color: $basic-green;
  font-size: 1.5rem;
}

.search-header {
  @include flexrow(center, center, 1em);
  margin-bottom: 3em;
  width: 100%;
}

.searchbar {
  @include flexrow(center, center, 1em);
  @include font(1.25);
  border: 1px solid $basic-white;
  padding: 0.25em 0.5em;

  input {
    @include font(1.25, normal);
    outline: none;
  }

  button {
    @include font(1, normal, $basic-white);

    &:hover {
      color: $basic-green;
    }
  }
}

.search-results {
  margin: auto;
  width: fit-content;
}

.user-results {
  @include flexcol();
  width: 800px;
  max-width: 100%;
}

.media-results {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 3em;
}

@media (max-width: 1200px) {
  .media-results {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 900px) {
  .search-container {
    padding: 1em 0.5em;

    .tabs-container {
      display: none;
    }

    .search-select {
      display: block;
    }
  }

  .search-header {
    position: sticky;
    top: 0;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    margin-bottom: 1em;
    background-color: $background-primary;
    padding: 0 1em 1em 1em;
  }

  .searchbar {
    border-radius: 16px;
    padding: 0.25em;
    max-width: 100%;

    input {
      padding: 0 0.25em;
      max-width: 100%;
      font-size: 1.75rem;
    }

    button {
      display: none;
    }
  }

  .media-results {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  .media-results {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
