@use "src/styles/abstracts" as *;

.search-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
}

.search-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  margin-bottom: 3em;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  border-radius: 8px;
  border: 2px solid $basic-white;
  padding: 0.25em 0.75em;
  font-size: calc(1rem + 0.5vw);

  input {
    outline: none;
  }

  button:hover {
    color: $basic-green;
  }
}

.search-results {
  margin: auto;
  width: fit-content;
}

.search-empty {
  margin: auto;
  width: fit-content;
  padding: 5em 0;

  p {
    font-size: calc(1.5rem + 0.5vw);
    font-style: italic;
    color: $basic-gray;
  }
}

.media-results {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 3em;
}
