@use "src/styles/abstracts" as *;

.account-profile-image {
  border-radius: 100%;
  width: 100%;
  max-width: 125px;
  max-height: 125px;
  object-fit: cover;
}

.account-profile-details {
  @include flexcol($gap: 0.5em);
  @include font(0.5);
}

.account-profile-content {
  @include flexrow(initial, center, 1em);
}

.account-profile-user {
  @include flexrow(initial, center, 0.5em);
}

.account-profile-displayname {
  @include font(0.75, bold);
}

.account-profile-username {
  color: $basic-gray;
}

.account-profile-date {
  @include flexrow(initial, center, 0.25em);
  color: $basic-gray;
}

.account-profile-friends {
  @include flexrow(initial, center, 0.5em);

  a {
    color: $basic-gray;

    &:hover {
      color: $basic-white;
    }

    span {
      @include font(initial, bold, $basic-white);
    }
  }
}
