@use "src/styles/abstracts" as *;

.account-profile {
  @include flexrow(initial, center, 1em);

  &__image {
    border-radius: 100%;
    width: 100%;
    max-width: 125px;
    max-height: 125px;
    object-fit: cover;
  }

  &__details {
    @include flexcol($gap: 0.5em);
    @include font(0.5);
  }

  &__user {
    @include flexrow(initial, center, 0.5em);
  }

  &__displayname {
    @include font(0.75, bold);
  }

  &__username {
    color: $basic-gray;
  }

  &__date {
    @include flexrow(initial, center, 0.25em);
    color: $basic-gray;
  }

  &__friends {
    @include flexrow(initial, center, 0.5em);
  }

  &__link {
    color: $basic-gray;

    &:hover {
      color: $basic-white;
    }
  }

  &__count {
    @include font(initial, bold, $basic-white);
  }
}

@media (max-width: 900px) {
  // Profile info is in mobile header
  .account-profile {
    display: none;
  }
}
