@use "src/styles/abstracts" as *;

.comment-button {
  @include flexrow(initial, center, 0.25em);
  @include font(0.75);

  &:hover {
    color: $basic-gray;
  }
}

.vote-button {
  @include flexrow(initial, center, 0.25em);
  @include font(0.75, 400);
  width: 2.5em;

  &--loading {
    pointer-events: none;
  }

  &--like {
    &:hover {
      color: $light-green;
    }

    &--active {
      color: $light-green;
    }
  }

  &--dislike {
    &:hover {
      color: $basic-red;
    }

    &--active {
      color: $basic-red;
    }
  }
}

@include md {
  .comment-button {
    font-size: 1.25rem;

    &:hover {
      color: $basic-white;
    }
  }

  .vote-button {
    font-size: 1.25rem;

    &--like {
      &:hover {
        &:not(.vote-button--like--active) {
          color: $basic-white;
        }

        &--active {
          color: $light-green;
        }
      }
    }

    &--dislike {
      &:hover {
        &:not(.vote-button--dislike--active) {
          color: $basic-white;
        }

        &--active {
          color: $basic-red;
        }
      }
    }
  }
}
