@use "src/styles/abstracts" as *;

.comment-button {
  @include flexbox(row, initial, center, 0.25em);
  @include font(0.75);

  &:hover {
    color: $basic-gray;
  }
}

.dislike-button {
  @include flexbox(row, initial, center, 0.25em);
  @include font(0.75, 400);
  width: 2.5em;

  &:not(.active):hover {
    color: $basic-red;
  }

  &.active {
    color: $basic-red;
  }
}

.like-button {
  @include flexbox(row, initial, center, 0.25em);
  @include font(0.75, 400);
  width: 2.5em;

  &:not(.active):hover {
    color: $light-green;
  }

  &.active {
    color: $light-green;
  }
}

@media (max-width: 900px) {
  .comment-button {
    font-size: 1.25rem;
  }
}
