@use "src/styles/abstracts" as *;

.comment-button {
  @include flexrow(initial, center, 0.25em);
  @include font(0.75);

  &:hover {
    color: $basic-gray;
  }
}

.vote-button {
  @include flexrow(initial, center, 0.25em);
  @include font(0.75, 400);
  width: 2.5em;

  &--like {
    &:hover,
    &[aria-selected="true"] {
      color: $light-green;
    }
  }

  &--dislike {
    &:hover,
    &[aria-selected="true"] {
      color: $basic-red;
    }
  }
}

@include md {
  .comment-button {
    font-size: 1.25rem;

    &:hover {
      color: $basic-white;
    }
  }

  .vote-button {
    font-size: 1.25rem;

    &--like {
      &:hover {
        &:not([aria-selected="true"]) {
          color: $basic-white;
        }

        &[aria-selected="true"] {
          color: $light-green;
        }
      }
    }

    &--dislike {
      &:hover {
        &:not([aria-selected="true"]) {
          color: $basic-white;
        }

        &[aria-selected="true"] {
          color: $basic-red;
        }
      }
    }
  }
}
