@use "src/styles/abstracts" as *;

.inbox-card {
  @include flexrow(space-between, center, 2em);
  padding: 0 0.5em;
  width: 100%;
  height: 120px;

  &__info {
    @include flexrow(center, flex-start, 0.5em);
    cursor: pointer;
  }

  &__profile {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  &__content {
    @include flexcol($gap: 0.25em);
  }

  &__title,
  &__subtitle {
    @include font(0.75, normal);
  }

  &__date {
    @include font(0.5, bold, $basic-gray);
  }

  &__media {
    aspect-ratio: 1/1;
    max-width: 100px;
    height: 100%;
    max-height: 100px;
    object-fit: cover;
  }
}

@media (max-width: 900px) {
  .inbox-card {
    gap: 0.5em;
    border: none;
    height: fit-content;

    &:hover {
      background-color: transparent;
    }

    &__profile {
      width: 30px;
      height: 30px;
    }

    &__title,
    &__subtitle,
    &__date {
      font-size: 1rem;
    }

    &__media {
      width: 75px;
      height: 75px;
    }
  }
}
