@use "src/styles/abstracts" as *;

.reviews-filter {
  @include flexrow(initial, center, 1em);

  &__label {
    @include font(0.75);
  }

  &__select {
    border: 1px solid $basic-white;
    @include font(0.75);
    padding: 0.25em 0.5em;
    background-color: $dark-gray;
  }
}

@include md {
  .reviews-filter {
    gap: 0.5em;

    &__label {
      font-size: 1.25rem;
    }

    &__select {
      font-size: 1.25rem;
    }
  }
}
