@use "src/styles/abstracts" as *;

.review-buttons {
  @include flexbox(row, initial, center, 1em);
  cursor: pointer;
  margin-left: 0.25em;
  padding-left: 0.5em;
}

.review-button {
  @include font(0.75);
  cursor: pointer;

  &:hover {
    color: $basic-gray;
  }
}

.add-review-button {
  @include flexbox(row, initial, center, 0.5em);
  @include font(0.75);
  border: 2px solid $basic-white;
  padding: 0.25em 0.5em;

  &:hover {
    color: $basic-gray;
  }
}

@media (max-width: 900px) {
  .add-review-button {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0.75em;
    border: none;
    border-radius: 100%;
    background-color: $darker-green;
    padding: 0.5em;
    font-size: 1.75rem;
    z-index: 1;

    p {
      display: none;
    }
  }
}
