@use "src/styles/abstracts" as *;

.review-buttons {
  @include flexrow(initial, center, 1em);
  cursor: pointer;
  margin-left: 0.25em;
  padding-left: 0.5em;
}

.review-button {
  @include font(0.75);
  cursor: pointer;

  &:hover {
    color: $basic-gray;
  }
}

.add-review-button {
  @include flexrow(initial, center, 0.5em);
  @include font(0.75);
  border: 2px solid $basic-white;
  padding: 0.25em 0.5em;

  &:hover {
    color: $basic-gray;
  }
}

@media (max-width: 900px) {
  .review-buttons {
    gap: 2em;
  }

  .review-button {
    font-size: 1.25rem;
  }

  .add-review-button {
    @include badge(1.5, $basic-white, $dark-green, 2.25em);
    position: fixed;
    right: 0;
    bottom: 2em;
    margin: 0.75em;
    border: none;
    box-shadow: $light-shadow;
    padding: 0.75em;
    z-index: 1;

    p {
      display: none;
    }
  }
}
