@use "src/styles/abstracts" as *;

.review-btns {
  @include flexbox(row, initial, center, 1.5em);
  cursor: pointer;
}

.review-btn {
  @include font(0.75);
  cursor: pointer;

  &:hover {
    color: $basic-gray;
  }
}

.add-review-btn {
  @include flexbox(row, initial, center, 0.5em);
  @include font(0.5);
  border: 2px solid $basic-white;
  padding: 0.25em 0.75em;

  &:hover {
    color: $basic-gray;
  }
}
