@use "src/styles/abstracts" as *;

.chats {
  @include flexcol($gap: 0.25em);
  flex: 2;
  background-color: $dark-gray;
  padding: 1em 2em;
  overflow-y: auto;

  &__header {
    @include flexrow(initial, center, 1em);
    @include font(0.75, bold);
    text-transform: capitalize;
    position: relative;
    border-bottom: 1px solid $basic-gray;
    padding-bottom: 0.25em;

    &:hover {
      color: $basic-gray;
    }
  }

  &__collapse {
    display: none;
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    font-size: 2rem;
  }
}

@include md {
  .chats {
    padding: 0;

    &[aria-expanded="false"] {
      overflow-y: unset;
    }

    &__header {
      display: none;
    }

    &__collapse {
      display: unset;
      position: absolute;
      top: 3%;
      left: 3%;
    }

    .mobile-banner {
      position: sticky;
      top: 0;
      z-index: 2;
    }
  }
}
