@use "src/styles/abstracts" as *;

.chatwindow {
  @include flexcol($gap: 0.25em);
  flex: 2;
  background-color: $dark-gray;
  padding: 1em 2em;
  overflow-y: auto;
}

.chatwindow-header {
  @include font(1, bold);
  border-bottom: 1px solid $basic-gray;
  padding-bottom: 0.25em;

  &:hover {
    color: $basic-gray;
  }
}

.chatwindow-search {
  position: relative;
}

.chatwindow-search-input {
  @include font(0.75);
  outline: none;
  border: 1px solid $basic-white;
  padding: 0.5em 0.75em;
  width: 100%;
}

.chatwindow-search-results {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  @include flexcol();
  background-color: $darker-green;

  &.active {
    height: fit-content;
    max-height: 200px;
    overflow-y: auto;
  }
}

.chatwindow-search-item {
  @include flexrow(initial, center, 0.25em);
  @include font(0.75);
  padding: 0.25em 0.5em;
  text-align: left;

  &:hover {
    background-color: $dark-green;
  }

  img {
    border-radius: 100%;
    aspect-ratio: 1/1;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}

.chatwidow-search-item-info {
  @include flexcol(start, flex-start, 0.25em);
}

.chatwindow-search-item-displayname {
  @include font(0.75, bold);
}
