@use "src/styles/abstracts" as *;

.chats {
  @include flexcol($gap: 0.25em);
  flex: 2;
  background-color: $dark-gray;
  padding: 1em 2em;
  overflow-y: auto;

  &__header {
    @include flexrow(initial, center, 1em);
    @include font(0.75, bold);
    position: relative;
    border-bottom: 1px solid $basic-gray;
    padding-bottom: 0.25em;

    &:hover {
      color: $basic-gray;
    }
  }

  &__collapse {
    display: none;
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
  .chats {
    padding: 0;
    padding-bottom: 0.75em;

    &--active {
      overflow-y: unset;
    }

    &__header {
      position: sticky;
      top: 0;
      justify-content: center;
      z-index: 2;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
      border: none;
      background-color: $dark-gray;
      padding: 1em;
      font-size: 1rem;

      &:hover {
        color: $basic-white;
      }
    }

    &__collapse {
      display: initial;
    }
  }
}
