@use "src/styles/abstracts" as *;

.account-nav {
  @include flexrow(space-between, center);
  flex-wrap: wrap;
  background-color: $dark-green;
  padding: 0.5em 2em;
  width: 100%;

  &__links {
    @include flexrow(initial, center, 1em);
  }

  &__link {
    @include flexrow(initial, center, 0.5em);
    @include font(0.75, normal);
    color: $basic-gray;

    &:hover,
    &--active {
      color: $basic-white;
    }
  }

  &__image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}

.account-mobile-nav {
  display: none;
}

@include md {
  .account-nav {
    display: none;

    &__links {
      display: none;
    }
  }

  .account-mobile-nav {
    @include flexcol(initial, center);
    position: relative;
    background-color: $background-primary;
    padding-bottom: 1em;
    width: 100%;
    text-align: center;

    &__header {
      padding: 1em;
      width: 100%;

      &--left-button {
        position: absolute;
        top: 5%;
        left: 3%;
      }

      &--right-button {
        position: absolute;
        top: 5%;
        right: 3%;
      }
    }

    &__profile {
      @include flexcol(initial, center, 0.25em);
      top: 0;
      margin: 0 auto;
    }

    &__image {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      object-fit: cover;
    }

    &__displayname,
    &__username {
      font-size: 1.25rem;
    }

    &__username {
      color: $basic-gray;
    }

    &__bio {
      font-style: italic;
      font-size: 1rem;
    }

    &__date {
      color: $basic-gray;
      font-size: 1rem;
      @include flexrow(initial, center, 0.5em);
    }

    &__friends {
      @include flexrow(initial, center, 0.5em);
      color: $basic-gray;
      font-size: 1rem;
    }

    &__count {
      color: $basic-white;
      font-weight: bold;
    }

    &__links {
      @include flexrow(center, center);
      margin: 0 auto;
      background-color: $dark-green;
      width: fit-content;
      max-width: 100%;
      overflow-x: scroll;
    }

    &__link {
      padding: 0.5em 1em;
      color: $basic-white;
      font-weight: bold;
      font-size: 1rem;

      &--active {
        background-color: $basic-green;
      }
    }
  }
}
