@use "src/styles/abstracts" as *;

.account-list {
  &__header {
    @include flexrow(space-between, end);
    border-bottom: 1px solid $basic-white;
    padding: 0.5em;
  }

  &__info {
    @include flexcol($gap: 0.25em);
  }

  &__title {
    @include flexrow(initial, center, 0.5em);
  }

  &__lock {
    color: $basic-gray;
  }

  &__name {
    @include font(1, bold);
  }

  &__description {
    @include font(0.5, normal, $basic-gray);
    text-wrap: wrap;
  }

  &__dropdown {
    position: relative;
  }

  &__dropdown-button {
    @include font(1.5, normal, $basic-green);
  }

  &__dropdown-menu {
    @include dropdown(right, 1em, 1.5em);
    @include flexcol(center, center, 1em);
    z-index: 2;
    background-color: $dark-gray;
  }

  &__label {
    @include font(0.5, normal, $basic-gray);
    margin-right: auto;
    text-wrap: nowrap;
  }

  &__orientation {
    @include flexrow(initial, center, 0.5em);
    width: 100%;
  }

  &__button {
    @include font(1);

    &--active {
      color: $basic-green;
    }
  }

  &__edit {
    @include flexrow(space-between, center);
    width: 100%;
  }

  &__dropdown-buttons {
    @include flexcol(center, flex-start, 1em);
  }

  &__list {
    @include flexrow($gap: 1em);
    padding-bottom: 2em;

    &--vertical {
      flex-direction: column;
      flex-wrap: wrap;
    }

    &--horizontal {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.toggle {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 26px;

  &__input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .toggle__slider {
      background-color: $basic-green;
    }

    &:checked + .toggle__slider:before {
      transform: translateX(22px);
    }
  }

  &__slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 20px;
    background-color: $darker-gray;

    &:before {
      position: absolute;
      bottom: 4px;
      left: 4px;
      transition: 0.2s;
      border-radius: 50%;
      background-color: $basic-white;
      width: 18px;
      height: 18px;
      content: "";
    }
  }
}

@include md {
  .account-list {
    margin: 0 auto;
    padding: 0.5em;

    &__name {
      font-size: 1.25rem;
    }

    &__description {
      font-size: 1rem;
    }

    &__label {
      padding-right: 1em;
      font-size: 1rem;
    }

    &__orientation {
      gap: 1em;
    }

    &__button {
      font-size: 1.5rem;
    }

    &__list {
      &--horizontal {
        display: grid;
        grid-template-columns: repeat(auto-fill, 150px);
        justify-content: center;
        align-items: center;
      }
    }
  }
}
