@use "src/styles/abstracts" as *;

.review-user-container {
  @include flexrow(initial, center, 0.5em);
}

.review-user {
  @include flexrow(initial, center, 0.5em);
  @include font(0.75);

  img {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }

  p {
    font-weight: bold;
  }
}

.review-user-date {
  @include font(0.5, 400, $basic-gray);
}

.review-media-container {
  @include flexcol();
}

.review-title-container {
  @include flexrow(initial, center);
}

.review-icon {
  color: $basic-gray;
}

.review-title {
  @include gradient(left);
  padding: 0 0.5em;
  width: 100%;
  max-width: 400px;
  overflow: hidden;

  p {
    @include font(0.75, bold);
    white-space: nowrap;
  }
}

.review-subtitle {
  @include font(0.75, normal, $basic-gray);
}

.review-stars {
  @include flexrow(initial, center, 0.15em);
}

.review-text {
  @include font(1);
  overflow-wrap: break-word;
}

@media (max-width: 900px) {
  .review-user-container {
    justify-content: space-between;
    width: 100%;
  }

  .review-user-date {
    font-size: 0.75rem;
  }

  .review-user {
    p {
      color: $basic-gray;
      font-weight: normal;
      font-size: 1rem;
    }
  }

  .review-title {
    mask-image: none;

    p {
      font-size: 1rem;
    }
  }

  .review-subtitle {
    font-size: 0.75rem;
  }

  .review-text {
    font-size: 1.25rem;
  }
}
