@use "src/styles/abstracts" as *;

.search-results {
  margin: auto;
  width: fit-content;

  &--users {
    @include flexcol();
    width: 800px;
    max-width: 100%;
  }

  &--media {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 3em;
  }
}

@include xxl {
  .search-results--media {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2em;
  }
}

@include xl {
  .search-results--media {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@include sm {
  .search-results--media {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
