@use "src/styles/abstracts" as *;

.media-review {
  @include flexcol($gap: 1em);
  padding: 1em;

  &:hover {
    background-color: $dark-green;
  }

  &__header {
    @include flexrow(initial, center, 0.5em);
  }

  &__image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  &__info {
    @include flexrow(space-between);
    width: 100%;
  }

  &__user {
    @include flexcol($gap: 0.25em);
  }

  &__username {
    @include font(0.5, normal, $basic-gray);
  }

  &--highlight {
    @include font(initial, bold, $basic-white);
  }

  &__date {
    @include font(0.5, normal, $basic-gray);

    &--mobile {
      display: none;
    }
  }

  &__content {
    @include font(1);
    overflow-wrap: break-word;
  }
}

@media (max-width: 900px) {
  .media-review {
    gap: 0.5em;

    &__image {
      width: 40px;
      height: 40px;
    }

    &__username {
      font-size: 1rem;
    }

    &__date {
      display: none;

      &--mobile {
        display: unset;
        color: $basic-gray;
        font-weight: bold;
        font-size: 1rem;
      }
    }

    &__content {
      font-size: 1.25rem;
    }
  }
}
