@use "src/styles/abstracts" as *;

.media-card {
  @include flexcol();
  cursor: pointer;
  transition: all 0.2s;
  padding: 0.5em;
  background-color: $basic-white;
  width: 300px;
  height: fit-content;

  &:hover {
    transform: scale(1.05);
  }

  &__image {
    box-shadow: $darker-shadow;
    height: 300px;
    object-fit: cover;
  }

  &__info {
    @include flexcol(space-between, initial, 0.25em);
    flex-grow: 1;
    @include padding-y(0.5em);
    text-align: center;
  }

  &__title {
    @include font(0.5, bold, $basic-black);
    margin: auto;
    width: fit-content;
    white-space: nowrap;

    &--wrapper {
      @include padding-x(0.5em);
      @include gradient(left);
      width: 100%;
      overflow: hidden;
      text-align: center;
    }
  }

  &__subtitle {
    @include font(0.35, bold, $basic-gray);
  }

  &__rating {
    @include font(0.75, bold);
    @include flexrow(center, center, 0.25em);
  }
}

@include lg {
  .media-card {
    transition: none;

    &:hover {
      transform: none;
    }

    &__title {
      font-size: 1.5rem;
    }

    &__subtitle {
      font-size: 1rem;
    }

    &__rating {
      font-size: 1.25rem;
    }
  }
}
