@use "src/styles/abstracts" as *;

.media-card-container {
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
  cursor: pointer;
  background-color: $basic-white;
  padding: 0.5em;
  width: 300px;
  height: fit-content;
  color: $basic-black;

  &:hover {
    transform: scale(110%);
  }

  img {
    height: 300px;
    object-fit: cover;
  }
}

.media-card-info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.25em;
  padding: 0.5em 0;
  text-align: center;
}

.media-card-title {
  padding: 0 0.5em;
  width: 100%;
  overflow: hidden;
  text-align: center;
  @include gradient(left);

  p {
    @include font(0.5, bold);
    margin: auto;
    width: fit-content;
    color: $basic-black;
    white-space: nowrap;
  }
}

.media-card-subtitle {
  font-weight: 400;
  font-size: (calc(0.35rem + 0.5vw));
}

.media-card-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}
