@use "src/styles/abstracts" as *;

.media-card-container {
  @include flexcol();
  transition: all 0.2s;
  cursor: pointer;
  background-color: $dark-green;
  border-radius: 12px;
  padding: 0.5em;
  width: 300px;
  height: fit-content;
  color: $basic-white;

  &:hover {
    transform: scale(110%);
  }

  img {
    height: 300px;
    object-fit: cover;
  }
}

.media-card-info {
  @include flexcol(space-between, initial, 0.25em);
  flex-grow: 1;
  padding: 0.5em 0;
  text-align: center;
}

.media-card-title {
  padding: 0 0.5em;
  width: 100%;
  overflow: hidden;
  text-align: center;
  @include gradient(left);

  p {
    @include font(0.5, bold);
    margin: auto;
    width: fit-content;
    white-space: nowrap;
  }
}

.media-card-subtitle {
  @include font(0.35, bold, $basic-white);
}

.media-card-rating {
  @include font(0.75, bold);
  @include flexrow(center, center, 0.25em);
}

@media (max-width: 900px) {
  .media-card-container {
    transition: none;

    &:hover {
      transform: none;
    }
  }

  .media-card-title {
    p {
      font-size: 1.5rem;
    }
  }

  .media-card-subtitle {
    font-size: 1rem;
  }

  .media-card-rating {
    font-size: 1.25rem;
  }
}
