@use "src/styles/abstracts" as *;

.chat-button {
  @include font(1);
  cursor: pointer;
  color: $basic-gray;

  &:hover {
    color: $basic-white;
  }
}

.follow-button {
  @include flexrow(center);
  @include font(0.75);
  border: 2px solid $basic-white;
  padding: 0.5em;
  height: fit-content;

  &--active {
    border-color: transparent;
    background-color: $basic-green;
  }

  &:hover {
    color: darkgray;
  }
}

.logout-button {
  @include flexrow(initial, center, 0.5em);
  @include font(1);
  color: $basic-gray;

  &:hover {
    color: $basic-white;
  }
}

@media (max-width: 900px) {
  .chat-button {
    font-size: 1.25rem;
  }

  .follow-button {
    border: 1px solid $basic-white;
    border-radius: 0;
    background-color: transparent;
    padding: 0.5em 1em;
    font-size: 1rem;
  }

  .logout-button {
    font-size: 1.25rem;
  }

  .profile-button {
    color: $basic-gray;
    font-size: 1.25rem;
  }
}
