@use "src/styles/abstracts" as *;

.follow-button {
  @include flexrow(center);
  @include font(0.75);
  border: 2px solid $basic-white;
  padding: 0.5em;
  height: fit-content;

  &.active {
    border-color: transparent;
    background-color: $basic-green;
  }

  &:hover {
    color: darkgray;
  }
}

.logout-button {
  @include flexrow(initial, center, 0.5em);
  @include font(1);
  color: $basic-gray;

  &:hover {
    color: $basic-white;
  }
}

@media (max-width: 900px) {
  .follow-button {
    font-size: 1rem;
    border-radius: 24px;
  }
}
