@use "src/styles/abstracts" as *;

.follow-button {
  @include flexbox(row, center);
  @include font(0.75, normal, $basic-white);
  border: 2px solid $basic-white;
  border-radius: 0.5em;
  padding: 0.5em 0;
  width: 120px;
  height: fit-content;

  &.active {
    border-color: transparent;
    background-color: $basic-green;
  }

  &:hover {
    color: darkgray;
  }
}

.logout-button {
  @include flexbox(row, initial, center, 0.5em);
  color: $basic-gray;

  &:hover {
    color: $basic-white;
  }
}
