@use "src/styles/abstracts" as *;

.review-card {
  @include flexcol($gap: 0.5em);
  cursor: pointer;
  padding: 0.5em;

  &__container {
    @include flexcol();
    border-top: 1px solid $darker-gray;
    padding: 1em 0;
  }

  &__header {
    @include flexrow(initial, stretch, 1em);
  }

  &__image {
    box-shadow: $light-shadow;
    aspect-ratio: 1/1;
    width: 20%;
    min-width: 100px;
    max-width: 175px;
    object-fit: cover;
  }

  &__info {
    @include flexcol(space-between);
  }

  &__user {
    @include flexrow(initial, center, 0.5em);
    @include font(0.75);

    &__container {
      @include flexrow(initial, center, 0.5em);
    }
  }

  &__profile {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }

  &__date {
    @include font(0.5, 400, $basic-gray);

    &--mobile {
      display: none;
    }
  }

  &__rating {
    @include flexcol($gap: 0.5em);
  }

  &__content {
    @include font(1);
    overflow-wrap: break-word;
  }
}

@include md {
  .review-card {
    gap: 1em;

    &:hover {
      background-color: transparent;
    }

    &:last-child {
      border-bottom: none;
    }

    &__info {
      gap: 1em;
      width: 80%;
      overflow-x: hidden;
    }

    &__container {
      gap: 0.25em;
      padding: 0;
      border-top: none;

      &:not(:last-child) {
        border-bottom: 1px solid $darker-gray;
        padding-bottom: 0.5em;
      }
    }

    &__user {
      flex-wrap: wrap;
      color: $basic-gray;
      font-weight: normal;
      font-size: 1rem;

      &__container {
        width: 100%;
      }
    }

    &__profile {
      width: 30px;
      height: 30px;
    }

    &__date {
      display: none;

      &--mobile {
        display: unset;
        font-weight: bold;
        font-size: 1rem;
      }
    }

    &__rating {
      gap: 0.25em;
    }

    .review-stars {
      font-size: 1rem;
    }

    &__content {
      font-size: 1.25rem;
    }
  }
}
