@use "src/styles/abstracts" as *;

.review-card {
  @include flexcol();

  &--container {
    @include flexcol($gap: 0.5em);
    cursor: pointer;
    padding: 0.5em;

    &:hover {
      background-color: $dark-green;
    }
  }

  &__header {
    @include flexrow(initial, stretch, 1em);
  }

  &__image {
    box-shadow: $light-shadow;
    aspect-ratio: 1/1;
    width: 20%;
    min-width: 100px;
    max-width: 175px;
    object-fit: cover;
  }

  &__info {
    @include flexcol(space-between);
  }

  &__rating {
    @include flexcol($gap: 0.5em);
  }
}

@media (max-width: 900px) {
  .review-card {
    gap: 0.25em;
    border-bottom: 1px solid $darker-gray;
    padding-bottom: 0.5em;

    &:last-child {
      border-bottom: none;
    }

    &--container {
      gap: 1em;

      &:hover {
        background-color: transparent;
      }
    }

    &__info {
      width: 80%;
      overflow-x: hidden;
    }

    &__rating {
      gap: 0;
    }

    .review-stars {
      font-size: 1rem;
    }
  }
}
