@use "src/styles/abstracts" as *;

.review-card-container {
  display: flex;
  flex-direction: column;
}

.review-card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  cursor: pointer;
  padding: 0.5em;

  &:hover {
    background-color: $darker-green;
  }
}

.review-card-header {
  display: flex;
  align-items: stretch;
  gap: 1em;
}

.review-card-image {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  aspect-ratio: 1/1;
  width: 20%;
  min-width: 100px;
  max-width: 175px;
  object-fit: cover;
}

.review-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-card-rating {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.review-card-text {
  @include font(0.75);
  padding-right: 1em;
  text-wrap: break-word;
}
