@use "src/styles/abstracts" as *;

.user-form-content {
  gap: 2em;
}

.user-form-profile-container {
  @include flexcol(center, center, 1em);

  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

.user-form-info {
  @include flexcol($gap: 1em);
}

.user-form-input-container {
  @include flexcol($gap: 0.25em);
}

.user-form-label {
  @include flexrow(space-between, center);
}
