@use "src/styles/abstracts" as *;

.list-btn {
  @include flexbox(row, initial, center, 0.5em);
  @include font(0.5);
  border: 2px solid $basic-white;
  padding: 0.25em 0.75em;
  text-wrap: nowrap;

  &:hover {
    color: $basic-gray;
  }
}

.list-save-btn {
  cursor: pointer;

  &:hover {
    color: $basic-gray;
  }
}

.save-list-btn {
  @include flexbox(row, initial, center, 0.25em);
  width: 30px;

  &:hover {
    color: $basic-green;
  }

  &.active {
    color: $basic-green;
  }
}
