@use "src/styles/abstracts" as *;

.list-save-button {
  cursor: pointer;

  &:hover {
    color: $basic-gray;
  }
}

.save-list-button {
  @include flexbox(row, initial, center, 0.25em);
  @include font(0.75);
  width: 30px;

  &:hover {
    color: $basic-green;
  }

  &.active {
    color: $basic-green;
  }
}
