@use "src/styles/abstracts" as *;

.media-banner {
  @include flexrow();
  margin: 3em 6em;
  box-shadow: $darker-shadow;
  width: 100%;
  max-width: 800px;
  height: fit-content;
  text-align: center;

  &__image {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--wrapper {
      transition: all 0.2s;
      cursor: pointer;
      box-shadow: $light-shadow;
      width: 40%;
      max-width: 300px;
      max-height: 300px;

      &:hover {
        box-shadow: $dark-shadow;
      }
    }
  }

  &__content {
    @include padding-y(1em);
    @include flexcol(space-between, center);
    flex: 1;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    overflow: hidden;
  }

  &__header {
    @include flexcol($gap: 0.25em);
    @include padding-x(0.5em);
    width: 100%;
    max-width: 400px;
  }

  &__title {
    @include font(1.25, bold);
    margin: auto;
    width: fit-content;
    white-space: nowrap;

    &--wrapper {
      @include padding-x(0.5em);
      @include gradient(left, 5%, 99%);
      width: 100%;
      overflow: hidden;
    }
  }

  &__subtitle {
    @include font(0.75, normal, $basic-gray);
  }

  &__rating {
    @include flexcol(initial, center, 0.5em);
    @include font(1, bold);
  }

  &__stars {
    @include flexrow(center, center, 0.5em);
  }

  &__buttons {
    @include padding-x(0.75em);
    @include flexcol(space-evenly, center);
    background-color: rgba(0, 0, 0, 0.3);
    max-width: 600px;
    height: 100%;
  }
}

@include md {
  .media-banner {
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 0;
    box-shadow: none;
    background-color: transparent;
    padding-top: 1em;
    max-width: 100%;

    &__image {
      box-shadow: $dark-shadow;
      width: 100%;
      max-width: 275px;
      max-height: 275px;

      &--wrapper {
        box-shadow: none;
        width: fit-content;
        max-width: 100%;
        max-height: 100%;
      }
    }

    &__content {
      flex: unset;
      gap: 1em;
      background-color: transparent;
      padding: 0;
      height: fit-content;
    }

    &__header {
      padding: 0;
      max-width: 300px;
    }

    &__title {
      font-size: 1.25rem;
    }

    &__subtitle {
      font-size: 1rem;
    }

    &__rating {
      font-size: 1.25rem;
    }

    &__stars span svg {
      font-size: 1.25rem;
    }

    &__buttons {
      @include padding-y(1em);
      flex-direction: row;
      background-color: transparent;
      width: 100%;
      height: fit-content;
    }
  }
}
