@use "src/styles/abstracts" as *;

.inbox-list {
  @include flexcol(initial, initial);
  border-top: 1px solid $darker-gray;
  padding: 0 1em 1em 0;
  width: 100%;
  height: 100%;

  &__time {
    @include font(1.5, bold);
    padding-top: 1em;
  }
}

@include md {
  .inbox-list {
    gap: 0.5em;
    border: none;
    padding: 0 0.5em 1em 0.5em;

    &__time {
      @include padding-y(0.5em);
      font-size: 1.25rem;
    }
  }
}
