@use "src/styles/abstracts" as *;

footer {
  @include flexbox(column, center, center, 1em);
  padding: 2em 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.footer-text {
  @include font(0.5, normal, gray);
  text-align: center;
  line-height: 2em;
}

.footer-link {
  color: $basic-white;

  &:hover {
    color: $lighter-green;
  }
}

@media (max-width: 900px) {
  footer {
    padding: 2em;
  }

  .footer-text {
    font-size: 0.75rem;
  }
}
