@use "src/styles/abstracts" as *;

.review-card-media {
  @include flexcol();

  &__header {
    @include flexrow(initial, center, 0.25em);
  }

  &__icon {
    @include font(0.75, normal, $basic-gray);
  }

  &__title {
    @include font(0.75, bold);
    width: fit-content;
    white-space: nowrap;

    &--wrapper {
      @include padding-x(0.25em);
      @include gradient(left, 5%, 99%);
      width: 100%;
      max-width: 400px;
      overflow: hidden;
    }
  }

  &__subtitle {
    @include font(0.75, normal, $basic-gray);
  }
}

@include md {
  .review-card-media {
    max-width: 100%;

    &__icon {
      font-size: 1.25rem;
    }

    &__title {
      max-width: unset;
      font-size: 1.25rem;
    }

    &__subtitle {
      font-size: 1.25rem;
    }
  }
}
