@use "src/styles/abstracts" as *;

.review-form-info-container {
  @include flexbox(column, center, center, 1em);
}

.review-form-input-container {
  position: relative;
  @include flexbox(row, $gap: 0.25em);
  width: 100%;
}

.star-rating {
  @include flexbox(row, center, center, 0.15em);
  padding: 0.5em;
}

.star-rating-star {
  @include font(2);
  cursor: pointer;
}
