@use "src/styles/abstracts" as *;

.review-form-info-container {
  @include flexbox(column, center, center, 1em);
}

.review-form-input-container {
  position: relative;
  @include flexbox(row, $gap: 0.5em);
  width: 100%;
}

.review-form-rating {
  @include flexbox(row, center, center, 0.15em);
  padding: 0.5em;
}

.review-form-rating-stars {
  @include font(2);
  cursor: pointer;
}

@media (max-width: 900px) {
  .review-form-info-container {
    order: 0;
    gap: 0.5em;
    width: 100%;
  }
}
