@use "src/styles/abstracts" as *;

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  background-color: rgba(0, 0, 0, 0.5);
  gap: 1em;
}

.footer-text {
  @include font(0.5, normal, gray);
  text-align: center;
  line-height: 2em;
}

.footer-link {
  color: white;

  &:hover {
    color: green;
  }
}
