@use "src/styles/abstracts" as *;

.navbar {
  background-color: $basic-black;
  padding: 1em 0;
  width: 100%;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 1.5em;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.navlink {
  @include font(1.5, normal, $basic-gray);

  &:not(.navlink-active):hover {
    color: $basic-green;
  }

  &.active {
    color: $basic-green;
  }
}

.nav-logo {
  @include font(1.5, bold, $basic-gray);
  margin-right: auto;
}

.nav-profile {
  cursor: pointer;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.nav-profile-dropdown-container {
  position: relative;
}

.nav-profile-dropdown {
  @include flexbox(column, $gap: 1em);
  position: absolute;
  top: 50px;
  right: 0;
  visibility: hidden;
  z-index: 30;
  border-radius: 12px;
  background-color: $darker-green;
  padding: 1em 1.5em;
  width: fit-content;
  overflow: hidden;
  width: fit-content;
  min-width: 150px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);

  &.active {
    visibility: visible;
  }
}

.nav-profile-dropdown-header {
  @include font(1, bold);
  text-wrap: nowrap;
  text-align: center;
  padding-bottom: 0.5em;
}

.nav-profile-dropdown-item {
  @include font(1);
  width: 100%;
  cursor: pointer;
  @include flexbox(row, initial, center, 0.5em);

  &:hover {
    color: $basic-gray;
  }
}

.nav-messaging {
  position: relative;
}

.notification-badge {
  @include flexbox(row, center, center);
  @include font(0.5, bold, $basic-white);
  position: absolute;
  top: 0;
  right: -10px;
  border-radius: 100%;
  background-color: $basic-red;
  width: 20px;
  height: 20px;
}
