@use "src/styles/abstracts" as *;

.navbar {
  background-color: $basic-black;
  padding: 1em 0;
  width: 100vw;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 1.5em;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.navlink {
  @include font(1.5, normal, $basic-gray);

  &:not(.navlink-active):hover {
    color: $basic-green;
  }

  &.active {
    color: $basic-green;
  }
}

.nav-logo {
  @include font(1.5, bold, $basic-gray);
  margin-right: auto;
}

.nav-profile {
  cursor: pointer;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.nav-profile-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 30;
  transition: all 0.3s ease-in-out;
  border-radius: 10%;
  background-color: $dark-green;
  width: fit-content;
  overflow: hidden;
  color: white;

  &:not(.nav-profile-active) {
    opacity: 0;
    max-height: 0;
  }

  &.active {
    opacity: 100;
    padding: 0.5em;
    max-height: 100vh;
  }
}

.nav-profile-dropdown-list {
  @include flexbox(column, $gap: 0.25em);
  padding: 0.5em 1em;
}
.nav-profile-dropdown-header {
  @include font(0.75, bold);
  text-wrap: nowrap;
}

.nav-profile-dropdown-item {
  @include font(0.75);

  &:hover {
    color: $basic-gray;
  }
}

.nav-profile-dropdown-logout {
  @include flexbox(row, space-between, center);
  width: 100%;
}

.notification-badge {
  @include flexbox(row, center, center);
  @include font(0.25, bold, $basic-white);
  position: absolute;
  top: 0;
  right: -10px;
  border-radius: 100%;
  background-color: $basic-red;
  width: 20px;
  height: 20px;
}
