@use "src/styles/abstracts" as *;

.footer {
  @include font(0.5, normal, $basic-gray);
  @include flexcol(center, center, 1em);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2em 0;
  height: fit-content;
  text-align: center;

  &__link {
    color: $basic-white;

    &:hover {
      color: $light-green;
    }
  }
}

@include md {
  .footer {
    display: none;
  }
}
