@use "src/styles/abstracts" as *;

.comment-input-container {
  @include flexcol();
  margin-bottom: 1em;
}

.comment-input {
  @include font(0.75);
  outline: none;
  border-bottom: 1px solid $basic-gray;
  padding-bottom: 0.5em;
  width: 100%;

  &:focus {
    outline: none;
    border-color: $basic-white;
  }
}

.comment-input-buttons {
  @include flexrow(end, initial, 0.5em);

  button {
    @include font(0.5, bold);
    margin-top: 0.5em;
    padding: 0.25em 0.75em;

    &:hover {
      color: $light-green;
    }
  }
}
