@use "src/styles/abstracts" as *;

.media-banner-container {
  @include flexbox(row);
  margin: 3em 6em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  width: 100%;
  max-width: 800px;
  height: fit-content;
  text-align: center;
}

.media-banner-img {
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 40%;
  max-width: 300px;

  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.media-banner-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1em 0;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.media-banner-title-container {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  padding: 0 0.5em;
  width: 100%;
  max-width: 400px;
}

.media-banner-title {
  @include gradient(left);
  padding: 0 1em;
  width: 100%;
  overflow: hidden;

  p {
    @include font(1.25, bold);
    margin: auto;
    width: fit-content;
    white-space: nowrap;
  }
}

.media-banner-subtitle {
  @include font(0.75, normal, $basic-gray);
}

.media-banner-rating {
  @include flexbox(column, initial, center, 0.5em);
  @include font(1, bold);
}

.media-banner-stars {
  @include flexbox(row, center, center, 0.5em);
}

.media-rating-bar-container {
  @include flexbox(row, initial, end, 2px);
  height: 50px;
}

.media-rating-bar {
  @include font(0.5);
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
  margin: 5px 0;
  border-radius: 1px 1px 0 0;
  background-color: $basic-gray;
  width: 20px;
  min-height: 4px;

  &:hover {
    background-color: $basic-white;
  }
}

.media-rating-bar-fill {
  position: absolute;
  top: -10px;
  right: -2px;
  bottom: 0;
  left: -2px;
}

.media-banner-buttons {
  @include flexbox(column, space-evenly, center);
  @include font(0.75);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 0.75em;
  height: 100%;
}
