@use "src/styles/abstracts" as *;

.media-reviews-container {
  @include flexbox(column, $gap: 1em);
  width: 100%;
}

.media-reviews {
  @include flexbox(column, $gap: 1em);
  margin-left: 1em;
}

.media-reviews-header {
  @include flexbox(row, initial, center, 1em);
}

.media-review-card {
  @include flexbox(column, $gap: 1em);
  padding: 1em;

  &:hover {
    background-color: $dark-green;
  }
}

.media-review-header {
  @include flexbox(row, initial, center, 0.5em);
}

.media-review-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.media-review-info {
  @include flexbox(row, space-between);
  width: 100%;
}

.media-review-user {
  @include flexbox(column, $gap: 0.25em);
}

.media-review-date {
  @include font(0.25, normal, $basic-gray);
}

.media-review-username {
  @include font(0.5, normal, $basic-gray);

  span {
    @include font(initial, bold, $basic-white);
  }
}
