@use "src/styles/abstracts" as *;

.media-reviews-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.media-reviews {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-left: 1em;
}

.media-review-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;

  &:hover {
    background-color: $darker-green;
  }
}

.media-review-header {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.media-review-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.media-review-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.media-review-user {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.media-review-date {
  @include font(0.25, normal, $basic-gray);
}

.media-review-username {
  @include font(0.5, normal, $basic-gray);

  span {
    @include font(initial, bold, $basic-white);
  }
}
